<h5>
    {% for agent in agents %}
        <span class="badge text-bg-success agent-item">
            {{ agent.nickname }}&nbsp;
            <a
                    href="#"
                    title="{{ 'Remove'|trans }}"
                    class="badge text-bg-danger"
                    data-id="{{ agent.id }}"
                    data-action="compare-search#removeItem"
            >X</a>
        </span>
    {% endfor %}
</h5>
{% if agents|length == 1 %}
    {{ 'Select another agent'|trans }}
{% endif %}


