<form method="post" action="{{ path('help_delete', {'id': help.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ help.id) }}">
    <button class="btn btn-outline-danger" title="{{ 'Delete'|trans }}">
        <span class="oi oi-x">
    </button>
</form>
