{% extends 'base.html.twig' %}

{% block title %}New Agent{% endblock %}

{% block body %}
    <h1>Create new Agent</h1>

    {{ include('agent/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('agent_index') }}">Regresar</a>

{% endblock %}
