{% extends 'base.html.twig' %}

{% block title %}
    Calendar
{% endblock %}

{% block body %}
    <div {{ stimulus_controller('calendar', {
        'eventsUrl':path('fc_load_events'),
        'defaultTimeZone':defaultTimeZone(),
    }) }}>

        <label for="time-zone-selector">Timezone:</label>
        <select id="time-zone-selector" {{ stimulus_target('calendar','timeZoneSelector') }}>
            <option value="local" selected>local</option>
            <option value="UTC">UTC</option>
        </select>
        <div {{ stimulus_target('calendar', 'frame') }}></div>
    </div>
{% endblock %}
