security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            entry_point: App\Security\AppCustomAuthenticator
            custom_authenticators:
                - App\Security\AppCustomAuthenticator
                - App\Security\GoogleAuthenticator
                - App\Security\GoogleIdentityAuthenticator

            form_login:
                use_referer: true
            logout:
                path: app_logout
            remember_me:
                secret: '%kernel.secret%'
                always_remember_me: true
                name: 4EREMEMBERME

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    access_control:
         - { path: ^/db, roles: ROLE_ADMIN }
#         - { path: ^/, requires_channel: https }
#         - { path: ^/api, roles: ROLE_AGENT }

    role_hierarchy:
        ROLE_INTRO_AGENT: ROLE_USER
        ROLE_AGENT: ROLE_INTRO_AGENT
        ROLE_EDITOR: ROLE_AGENT
        ROLE_ADMIN: ROLE_EDITOR
when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
