parameters:
	ignoreErrors:
		-
			message: '#^Cognitive complexity for "App\\Command\\SendEventUpdateCommand\:\:execute\(\)" is 11, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Command/SendEventUpdateCommand.php

		-
			message: '#^Cognitive complexity for "App\\Command\\SendNewsletterCommand\:\:execute\(\)" is 17, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Command/SendNewsletterCommand.php

		-
			message: '#^Access to an undefined property object\:\:\$image\.$#'
			identifier: property.notFound
			count: 1
			path: src/Command/UpdateBadgedataCommand.php

		-
			message: '#^Access to an undefined property object\:\:\$title\.$#'
			identifier: property.notFound
			count: 2
			path: src/Command/UpdateBadgedataCommand.php

		-
			message: '#^Class cognitive complexity is 62, keep it under 50$#'
			identifier: complexity.classLike
			count: 1
			path: src/Command/UpdateBadgedataCommand.php

		-
			message: '#^Cognitive complexity for "App\\Command\\UpdateBadgedataCommand\:\:resizeBadges\(\)" is 11, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Command/UpdateBadgedataCommand.php

		-
			message: '#^Cognitive complexity for "App\\Command\\UpdateBadgedataCommand\:\:scrapeBadges\(\)" is 22, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Command/UpdateBadgedataCommand.php

		-
			message: '#^Cognitive complexity for "App\\Command\\UpdateBadgedataCommand\:\:skipItem\(\)" is 16, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Command/UpdateBadgedataCommand.php

		-
			message: '#^Cognitive complexity for "App\\Controller\\Admin\\LogviewController\:\:__invoke\(\)" is 20, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Controller/Admin/LogviewController.php

		-
			message: '#^Argument of an invalid type App\\Entity\\AgentStat supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Controller/MigrateController.php

		-
			message: '#^Cognitive complexity for "App\\Controller\\MigrateController\:\:upload\(\)" is 10, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Controller/MigrateController.php

		-
			message: '#^Cognitive complexity for "App\\Controller\\StatsController\:\:statImport\(\)" is 11, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Controller/StatsController.php

		-
			message: '#^Property App\\Entity\\Agent\:\:\$faction type mapping mismatch\: property can contain App\\Entity\\Faction\|null but database expects App\\Entity\\Faction\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/Agent.php

		-
			message: '#^Property App\\Entity\\AgentStat\:\:\$agent type mapping mismatch\: property can contain App\\Entity\\Agent\|null but database expects App\\Entity\\Agent\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/AgentStat.php

		-
			message: '#^Property App\\Entity\\AgentStat\:\:\$datetime type mapping mismatch\: property can contain DateTimeInterface\|null but database expects DateTimeInterface\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/AgentStat.php

		-
			message: '#^Property App\\Entity\\Challenge\:\:\$date_end type mapping mismatch\: property can contain DateTimeInterface\|null but database expects DateTimeInterface\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Challenge.php

		-
			message: '#^Property App\\Entity\\Challenge\:\:\$date_start type mapping mismatch\: property can contain DateTimeInterface\|null but database expects DateTimeInterface\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Challenge.php

		-
			message: '#^Property App\\Entity\\Comment\:\:\$agent type mapping mismatch\: property can contain App\\Entity\\Agent\|null but database expects App\\Entity\\Agent\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/Comment.php

		-
			message: '#^Property App\\Entity\\Comment\:\:\$commenter type mapping mismatch\: property can contain App\\Entity\\User\|null but database expects App\\Entity\\User\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/Comment.php

		-
			message: '#^Property App\\Entity\\Comment\:\:\$datetime type mapping mismatch\: property can contain DateTimeInterface\|null but database expects DateTimeInterface\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Comment.php

		-
			message: '#^Property App\\Entity\\Event\:\:\$date_end type mapping mismatch\: property can contain DateTimeInterface\|null but database expects DateTimeInterface\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Event.php

		-
			message: '#^Property App\\Entity\\Event\:\:\$date_start type mapping mismatch\: property can contain DateTimeInterface\|null but database expects DateTimeInterface\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Event.php

		-
			message: '#^Property App\\Entity\\IngressEvent\:\:\$date_end type mapping mismatch\: property can contain DateTime\|null but database expects DateTimeInterface\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/IngressEvent.php

		-
			message: '#^Property App\\Entity\\IngressEvent\:\:\$date_start type mapping mismatch\: property can contain DateTime\|null but database expects DateTimeInterface\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/IngressEvent.php

		-
			message: '#^Method App\\Entity\\User\:\:getUserIdentifier\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Method App\\Repository\\AgentRepository\:\:getPaginatedList\(\) should return Doctrine\\ORM\\Tools\\Pagination\\Paginator\<App\\Entity\\Agent\> but returns Doctrine\\ORM\\Tools\\Pagination\\Paginator\<object\>\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/AgentRepository.php

		-
			message: '#^Parameter \#1 \$dql of method App\\Repository\\AgentRepository\:\:paginate\(\) expects Doctrine\\ORM\\Query\<int, object\>, Doctrine\\ORM\\Query\<null, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Repository/AgentRepository.php

		-
			message: '#^Unable to resolve the template type T in call to method App\\Repository\\AgentRepository\:\:paginate\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Repository/AgentRepository.php

		-
			message: '#^Method App\\Repository\\AgentStatRepository\:\:getPaginatedList\(\) should return Doctrine\\ORM\\Tools\\Pagination\\Paginator\<App\\Entity\\AgentStat\> but returns Doctrine\\ORM\\Tools\\Pagination\\Paginator\<object\>\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/AgentStatRepository.php

		-
			message: '#^Parameter \#1 \$dql of method App\\Repository\\AgentStatRepository\:\:paginate\(\) expects Doctrine\\ORM\\Query\<int, object\>, Doctrine\\ORM\\Query\<null, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Repository/AgentStatRepository.php

		-
			message: '#^Unable to resolve the template type T in call to method App\\Repository\\AgentStatRepository\:\:paginate\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Repository/AgentStatRepository.php

		-
			message: '#^Method App\\Repository\\LoginAttemptRepository\:\:getPaginatedList\(\) should return Doctrine\\ORM\\Tools\\Pagination\\Paginator\<App\\Entity\\LoginAttempt\> but returns Doctrine\\ORM\\Tools\\Pagination\\Paginator\<object\>\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/LoginAttemptRepository.php

		-
			message: '#^Parameter \#1 \$dql of method App\\Repository\\LoginAttemptRepository\:\:paginate\(\) expects Doctrine\\ORM\\Query\<int, object\>, Doctrine\\ORM\\Query\<null, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Repository/LoginAttemptRepository.php

		-
			message: '#^Unable to resolve the template type T in call to method App\\Repository\\LoginAttemptRepository\:\:paginate\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Repository/LoginAttemptRepository.php

		-
			message: '#^Method App\\Repository\\IngressEventRepository\:\:getPaginatedList\(\) should return Doctrine\\ORM\\Tools\\Pagination\\Paginator\<App\\Entity\\IngressEvent\> but returns Doctrine\\ORM\\Tools\\Pagination\\Paginator\<object\>\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/IngressEventRepository.php

		-
			message: '#^Parameter \#1 \$dql of method App\\Repository\\IngressEventRepository\:\:paginate\(\) expects Doctrine\\ORM\\Query\<int, object\>, Doctrine\\ORM\\Query\<null, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Repository/IngressEventRepository.php

		-
			message: '#^Unable to resolve the template type T in call to method App\\Repository\\IngressEventRepository\:\:paginate\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Repository/IngressEventRepository.php

		-
			message: '#^Method App\\Repository\\UserRepository\:\:getPaginatedList\(\) should return Doctrine\\ORM\\Tools\\Pagination\\Paginator\<App\\Entity\\User\> but returns Doctrine\\ORM\\Tools\\Pagination\\Paginator\<object\>\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: '#^Parameter \#1 \$dql of method App\\Repository\\UserRepository\:\:paginate\(\) expects Doctrine\\ORM\\Query\<int, object\>, Doctrine\\ORM\\Query\<null, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: '#^Unable to resolve the template type T in call to method App\\Repository\\UserRepository\:\:paginate\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: '#^Cognitive complexity for "App\\Service\\CsvParser\:\:parsePrimeCsv\(\)" is 12, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Service/CsvParser.php

		-
			message: '#^Cognitive complexity for "App\\Service\\EventHelper\:\:calculateResults\(\)" is 14, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Service/EventHelper.php

		-
			message: '#^Cognitive complexity for "App\\Service\\EventHelper\:\:getChallengesInSpan\(\)" is 9, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Service/EventHelper.php

		-
			message: '#^Cognitive complexity for "App\\Service\\LeaderBoardService\:\:getBoard\(\)" is 15, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Service/LeaderBoardService.php

		-
			message: '#^Class cognitive complexity is 55, keep it under 50$#'
			identifier: complexity.classLike
			count: 1
			path: src/Service/MedalChecker.php

		-
			message: '#^Cognitive complexity for "App\\Service\\MedalChecker\:\:getMedalsGained\(\)" is 12, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Service/MedalChecker.php

		-
			message: '#^Cognitive complexity for "App\\Service\\MedalChecker\:\:getMedalLevel\(\)" is 9, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Service/MedalChecker.php

		-
			message: '#^Cognitive complexity for "App\\Service\\StatsImporter\:\:getImportResult\(\)" is 14, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Service/StatsImporter.php

		-
			message: '#^Cognitive complexity for "App\\Service\\StatsImporter\:\:sendResultMessages\(\)" is 10, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Service/StatsImporter.php

		-
			message: '#^Cognitive complexity for "App\\Service\\StatsImporter\:\:updateEntryFromCsv\(\)" is 9, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: src/Service/StatsImporter.php

		-
			message: '#^Cognitive complexity for "App\\Tests\\Controller\\ControllerAccessTest\:\:processRoutes\(\)" is 16, keep it under 8$#'
			identifier: complexity.functionLike
			count: 1
			path: tests/Controller/ControllerAccessTest.php
