parameters:
	level: 7
	paths:
		- bin/
		- config/
		- public/
		- src/
		- tests/
	symfony:
		containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
#	doctrine:
#		objectManagerLoader: tests/object-manager.php
	scanDirectories:
		- var/cache/dev/Symfony/Config
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	cognitive_complexity:
		class: 50
		function: 8
rules:
	- App\PHPStan\Rules\NoRequestGetMethodRule

includes:
	- phpstan-baseline.neon
