parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$envKey of class Symfony\\\\Component\\\\Dotenv\\\\Dotenv constructor expects string, false given\\.$#"
			count: 2
			path: config/bootstrap.php

		-
			message: "#^Cognitive complexity for \"App\\\\Command\\\\CheckFsCommand\\:\\:execute\\(\\)\" is 24, keep it under 8$#"
			count: 1
			path: src/Command/CheckFsCommand.php

		-
			message: "#^Cognitive complexity for \"App\\\\Command\\\\SendEventUpdateCommand\\:\\:execute\\(\\)\" is 11, keep it under 8$#"
			count: 1
			path: src/Command/SendEventUpdateCommand.php

		-
			message: "#^Cognitive complexity for \"App\\\\Command\\\\SendNewsletterCommand\\:\\:execute\\(\\)\" is 17, keep it under 8$#"
			count: 1
			path: src/Command/SendNewsletterCommand.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$image\\.$#"
			count: 1
			path: src/Command/UpdateBadgedataCommand.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$title\\.$#"
			count: 2
			path: src/Command/UpdateBadgedataCommand.php

		-
			message: "#^Cognitive complexity for \"App\\\\Command\\\\UpdateBadgedataCommand\\:\\:resizeBadges\\(\\)\" is 11, keep it under 8$#"
			count: 1
			path: src/Command/UpdateBadgedataCommand.php

		-
			message: "#^Cognitive complexity for \"App\\\\Command\\\\UpdateBadgedataCommand\\:\\:scrapeBadges\\(\\)\" is 13, keep it under 8$#"
			count: 1
			path: src/Command/UpdateBadgedataCommand.php

		-
			message: "#^Cognitive complexity for \"App\\\\Command\\\\UpdateBadgedataCommand\\:\\:skipItem\\(\\)\" is 11, keep it under 8$#"
			count: 1
			path: src/Command/UpdateBadgedataCommand.php

		-
			message: "#^Cognitive complexity for \"App\\\\Controller\\\\DefaultController\\:\\:index\\(\\)\" is 9, keep it under 8$#"
			count: 1
			path: src/Controller/DefaultController.php

		-
			message: "#^Argument of an invalid type App\\\\Entity\\\\AgentStat supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Controller/MigrateController.php

		-
			message: "#^Cognitive complexity for \"App\\\\Controller\\\\MigrateController\\:\\:getCsv\\(\\)\" is 13, keep it under 8$#"
			count: 1
			path: src/Controller/MigrateController.php

		-
			message: "#^Cognitive complexity for \"App\\\\Controller\\\\MigrateController\\:\\:upload\\(\\)\" is 9, keep it under 8$#"
			count: 1
			path: src/Controller/MigrateController.php

		-
			message: "#^Cognitive complexity for \"App\\\\Controller\\\\StatsController\\:\\:byDate\\(\\)\" is 19, keep it under 8$#"
			count: 1
			path: src/Controller/StatsController.php

		-
			message: "#^Cognitive complexity for \"App\\\\Controller\\\\StatsController\\:\\:statImport\\(\\)\" is 11, keep it under 8$#"
			count: 1
			path: src/Controller/StatsController.php

		-
			message: "#^Cognitive complexity for \"App\\\\Service\\\\CsvParser\\:\\:parsePrimeCsv\\(\\)\" is 12, keep it under 8$#"
			count: 1
			path: src/Service/CsvParser.php

		-
			message: "#^Cognitive complexity for \"App\\\\Service\\\\EventHelper\\:\\:calculateResults\\(\\)\" is 14, keep it under 8$#"
			count: 1
			path: src/Service/EventHelper.php

		-
			message: "#^Cognitive complexity for \"App\\\\Service\\\\EventHelper\\:\\:getChallengesInSpan\\(\\)\" is 9, keep it under 8$#"
			count: 1
			path: src/Service/EventHelper.php

		-
			message: "#^Cognitive complexity for \"App\\\\Service\\\\LeaderBoardService\\:\\:getBoard\\(\\)\" is 14, keep it under 8$#"
			count: 1
			path: src/Service/LeaderBoardService.php

		-
			message: "#^Call to an undefined method Symfony\\\\Contracts\\\\Translation\\\\TranslatorInterface\\:\\:setLocale\\(\\)\\.$#"
			count: 1
			path: src/Service/MedalChecker.php

		-
			message: "#^Cognitive complexity for \"App\\\\Service\\\\MedalChecker\\:\\:getMedalLevel\\(\\)\" is 13, keep it under 8$#"
			count: 1
			path: src/Service/MedalChecker.php

		-
			message: "#^Cognitive complexity for \"App\\\\Service\\\\StatsImporter\\:\\:getImportResult\\(\\)\" is 12, keep it under 8$#"
			count: 1
			path: src/Service/StatsImporter.php

		-
			message: "#^Cognitive complexity for \"App\\\\Service\\\\StatsImporter\\:\\:sendResultMessages\\(\\)\" is 10, keep it under 8$#"
			count: 1
			path: src/Service/StatsImporter.php

		-
			message: "#^Cognitive complexity for \"App\\\\Service\\\\StatsImporter\\:\\:updateEntryFromCsv\\(\\)\" is 9, keep it under 8$#"
			count: 1
			path: src/Service/StatsImporter.php

		-
			message: "#^Cognitive complexity for \"App\\\\Type\\\\CustomMessage\\\\NotifyEventsMessage\\:\\:getMessage\\(\\)\" is 16, keep it under 8$#"
			count: 1
			path: src/Type/CustomMessage/NotifyEventsMessage.php

		-
			message: "#^Cognitive complexity for \"App\\\\Tests\\\\Controller\\\\ControllerAccessTest\\:\\:processRoutes\\(\\)\" is 16, keep it under 8$#"
			count: 1
			path: tests/Controller/ControllerAccessTest.php