{% extends 'base-map.html.twig' %}

{% block title %}{{ 'Agents Map'|trans }}{% endblock %}

{% block body %}
    <div
            id="map"
            {{ stimulus_controller('map', {
                'defaultLat': defaultLat,
                'defaultLon': defaultLon,
                'mapGroups': mapGroups,
            }) }}
    ></div>
{% endblock %}
