<div class="card" id="comment-{{ comment.id }}">
    <div class="card-header">
        {{ comment.commenter.agent ? comment.commenter.agent.nickname : comment.commenter }}
        -
        {{ comment.datetime|ago }}
    </div>
    <div class="card-body">
        {{ comment.text|raw }}
    </div>
</div>
