<div class="card" id="comment-{{ comment.id }}">
    <div class="card-header">
        {{ comment.datetime|date('Y-m-d') }}
        {{ comment.commenter.agent ? comment.commenter.agent.nickname : comment.commenter }}
    </div>
    <div class="card-body">
        {{ comment.text|raw }}
    </div>
</div>
