<div class="card">
    <div class="card-header">
        {{ comment.datetime|date('Y-m-d') }}
        {{ comment.commenter }}

        {% include 'comment/_delete_form.html.twig' with {'form_path': 'comment_delete_inline'} %}

    </div>
    <div class="card-body">
        {{ comment.text|nl2br }}
    </div>
</div>
