div.medal-value {
    font-family: monospace;
    font-size: 1.5em;
}

.doubleCount {
    color: #ff894f;
    font-weight: bold;
}

.medal-image {
    cursor: pointer;
}

.agent-level {
    font-weight: bold;
    font-size: 1.5em;
}

.agent-chart {
    width: 100%;
    height: 400px;
}

.statsSelect {
    color: #ffff3a;
    background-color: #6c757d;
}
