{% extends 'base.html.twig' %}

{% block title %}4E{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('events') }}
{% endblock %}

{% block body %}
    {# {{ now|date('Y-m-d H:i:s e', false) }}<br> #}
    {# {{ now2|date('Y-m-d H:i:s e', false) }}<br> #}
    <div class="row">
        <div class="col-sm-7">
            {% include '/default/_greeting.html.twig' %}
        </div>

        <div class="col-sm-5">
            {% include '/default/_search_box.html.twig' %}
        </div>
    </div>

    {% if is_granted('ROLE_AGENT') %}
        {% include '/default/_event_list.html.twig' %}
    {% endif %}
    {% if is_granted('ROLE_EDITOR') %}
        {% include '/default/_comment_list.html.twig' %}
    {% endif %}
{% endblock %}
