{% extends 'base.html.twig' %}

{% block body %}
    <h2>POLITICAS DE PRIVACIDAD</h2>

    <div><p>La presente p&#xE1;gina describe la pol&#xED;tica de privacidad del sitio web <a href="https://4e-ecuador.elkuku.dev">4e-ecuador.elkuku.dev</a>, del cual es titular ENLIGHTENED ELITE ECHELON OF ECUADOR. Al visitar y usar este sitio web o nuestras aplicaciones m&#xF3;viles, el visitantes o usuario acepta esta pol&#xED;tica de privacidad en su totalidad. La informaci&#xF3;n y t&#xE9;rminos de esta pol&#xED;tica est&#xE1;n sujetos a cambios en cualquier momento y se le recomienda al usuario visitar esta p&#xE1;gina constantemente.</p>

        <p>En esta p&#xE1;gina se describe a detalle la manera en que ENLIGHTENED ELITE ECHELON OF ECUADOR recopila, usa y protege los datos personales de los visitantes y usuarios de <a href="https://4e-ecuador.elkuku.dev">4e-ecuador.elkuku.dev</a>.</p>

        <p>ENLIGHTENED ELITE ECHELON OF ECUADOR. est&#xE1; comprometido con la seguridad de los datos personales de los usuarios adhiri&#xE9;ndose a todos los t&#xE9;rminos de esta pol&#xED;tica de privacidad, los cuales se detallan a continuaci&#xF3;n:</p>

        <ol>
            <li>&#xBF;QUE TIPO DE DATOS PERSONALES RECOPILAMOS DE NUESTROS USUARIOS?</li>
        </ol>

        <p>Identificaci&#xF3;n, nombres, y correo electr&#xF3;nico.</p>

        <ol start="2">
            <li>&#xBF;CU&#xC1;NDO Y C&#xD3;MO SE RECOPILAN LOS DATOS PERSONALES?</li>
        </ol>

        <p>Cuando el usuario se registra en la aplicaci&#xF3;n web y/o aplicaciones m&#xF3;viles ofrecidas por ENLIGHTENED ELITE ECHELON OF ECUADOR o llena alg&#xFA;n formulario</p>

        <ol start="3">
            <li>&#xBF;QU&#xC9; USO LE ENLIGHTENED ELITE ECHELON OF ECUADOR A LOS DATOS PERSONALES DEL USUARIO?</li>
        </ol>

        <p>Recopila los datos personales con el objetivo de poder brindarle al usuario informaci&#xF3;n relacionada a sus intereses personales y/o informaci&#xF3;n relacionada con los productos o servicios de inter&#xE9;s.</p>

        <p>Envia comunicaciones v&#xED;a correo electr&#xF3;nico con mensajes importantes sobre la cuenta del usuarios, sus pedidos, y mensajes promocionales de los productos y servicios prestado desde nuestras aplicaciones m&#xF3;viles o web.</p>

        <p>Usa los datos como el nombre y correo electr&#xF3;nico para brindar una experiencia personalizada al usuario de las aplicaci&#xF3;nes m&#xF3;viles y web.</p>

        <ol start="4">
            <li>&#xBF;C&#xD3;MO PROTEGEMOS LA INFORMACI&#xD3;N DEL USUARIO?</li>
        </ol>

        <p>En ning&#xFA;n momento, ENLIGHTENED ELITE ECHELON OF ECUADOR compartir&#xE1; o ceder&#xE1; los datos personales del usuario con terceros, salvo en aquellos casos que la ley lo exija.</p>

        <p>Los datos personales del usuario se guardan en los servidores de ENLIGHTENED ELITE ECHELON OF ECUADOR, los cuales est&#xE1;n libres de virus, protegidos con cortafuegos y monitoreados por profesionales.</p>

        <p>En el caso fortuito de que se presente un hackeo o robo de la informaci&#xF3;n personal del usuario, ENLIGHTENED ELITE ECHELON OF ECUADOR notificar&#xE1; al usuario de inmediato v&#xED;a correo electr&#xF3;nico y notificar&#xE1; a las autoridades pertinentes para lograr minimizar el impacto negativo.</p>

        <ol start="5">
            <li>&#xBF;COMO ACTUALIZAR O ELIMINAR SU INFORMACI&#xD3;N PERSONAL?</li>
        </ol>

        <p>En cualquier momento el usuario puede solicitar una actualizaci&#xF3;n o eliminaci&#xF3;n de los datos personales almacenados en ENLIGHTENED ELITE ECHELON OF ECUADOR, enviando un correo electr&#xF3;nico a <a href="mailto:fpaulvelastegui@gmail.com">fpaulvelastegui@gmail.com</a> o llenando el formulario de contacto en Soprte t&#xE9;cnico.</p>

        <p>El usuario tambi&#xE9;n podr&#xE1; desuscribirse en cualquier momento de las comunicaciones por email enviando un correo con sus respectivas razones a <a href="mailto:fpaulvelastegui@gmail.com">fpaulvelastegui@gmail.com</a></p>
    </div>

{% endblock %}

{% block title %}
    Privacidad
{% endblock %}

