.medalLabel, .medalsLabel {
    border: 3px solid #191d21;
}

.bootstrap .medalLabel, .bootstrap .medalsLabel {
    border: 3px solid #fff;
}

.medalLabel:hover, .medalsLabel:hover {
    border: 3px solid #969696;
    border-radius: 5px;
}

.medalSelected, .bootstrap .medalSelected {
    border: 3px solid #27d966;
    border-radius: 5px;
}

.medalSelected:hover {
    border: 3px solid #29ff73;
    border-radius: 5px;
}

.hiddenCheckBox {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
