@import "~@forevolve/bootstrap-dark/scss/bootstrap-dark";
@import "~@forevolve/bootstrap-dark/dist/css/toggle-bootstrap";
@import "~@forevolve/bootstrap-dark/dist/css/toggle-bootstrap-dark";
@import "~bootstrap-select/dist/css/bootstrap-select.css";
@import "~open-iconic/font/css/open-iconic-bootstrap.css";

@import "medals_badges_24.css";
@import "medals_events_24.css";
@import "medals_badges_50.css";
@import "medals_events_50.css";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 75px;
  padding-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bootstrap-dark a, .bootstrap a {
  color: #00bb00;
}

.bootstrap-dark a:hover, .bootstrap a:hover {
  color: #3adb76;
}

a.RES {
  color: #0000cc;
}

a.RES:hover {
  color: #7474ff;
}

.marker-cluster span {
  color: #0a0a0a;
}

.bootstrap-dark .card-body {
  color: #808d93;
}

.bootstrap .card-body {
  color: #517d9a;
}

.bootstrap-dark .page-item.active .page-link,
.bootstrap .page-item.active .page-link {
  background-color: #00bb00;
  border-color: #00bb00;
}

.bootstrap .page-link {
  color: #1ab60d;
}

.bootstrap-dark .page-link:focus, .bootstrap .page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(135, 246, 164, 0.25);
}

.bootstrap .col, .bootstrap-dark .col {
  min-width: 90px;
}

.bootstrap-dark .form-control:focus, .bootstrap .form-control:focus {
  border-color: #1ab60d;
  box-shadow: 0 0 0 0.2rem rgba(135, 246, 164, 0.25);
}

.bootstrap-dark .dropdown-item.active, .bootstrap-dark .dropdown-item:active,
.bootstrap .dropdown-item.active, .bootstrap .dropdown-item:active {
  background-color: #00bb00;
}

.bootstrap-dark .popover-header {
  background-color: #0b2e13;
}

.bootstrap-dark textarea {
  background-color: #41444e;
  color: #daffc9;
}

.helpIndicator {
  cursor: help;
}

.bootstrap-select .no-results {
  background-color: #f8d267;
  color: black;
}

.bootstrap-dark .btn:focus, .bootstrap .btn.focus {
  box-shadow: 0 0 0 0.1rem #28a745;
}

.bootstrap-dark pre {
  color: lime;
}

::-webkit-calendar-picker-indicator {
  background-color: #686868;
  cursor: pointer;
}
