html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  padding-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@import "~bootstrap/scss/bootstrap";
@import "~open-iconic/font/css/open-iconic-bootstrap.css";
@import "medals_badges_24.css";
@import "medals_events_24.css";
@import "medals_badges_50.css";
@import "medals_events_50.css";
@import "signin.css";
