html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 75px;
  padding-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

//@import "~bootstrap/scss/bootstrap";
@import "~@forevolve/bootstrap-dark/scss/bootstrap-dark";
@import "~@forevolve/bootstrap-dark/dist/css/toggle-bootstrap";
@import "~@forevolve/bootstrap-dark/dist/css/toggle-bootstrap-dark";

@import "~open-iconic/font/css/open-iconic-bootstrap.css";
@import "medals_badges_24.css";
@import "medals_events_24.css";
@import "medals_badges_50.css";
@import "medals_events_50.css";
@import "signin.css";

.bootstrap-dark a, .bootstrap a{
  color: #00bb00;
}

.bootstrap-dark a:hover, .bootstrap a:hover {
  color: #3adb76;
}

.marker-cluster span {
  color: #0a0a0a;
}

.bootstrap-dark .card-body {
  color: #808d93;
}

.bootstrap .card-body {
  color: #517d9a;
}

.bootstrap-dark .page-item.active .page-link {
  background-color: #00bb00;
  border-color: #00bb00;

}
