.medal50-badges {
	width: 50px;
	height: 50px;
	display: inline-block;
	background:url(../images/sprites/medals_badges_50.png) no-repeat
}
.medal50-badges.medal-Badge_Builder_Platinum {background-position: 0 0}
.medal50-badges.medal-Badge_Seer_Gold {background-position: -50px 0}
.medal50-badges.medal-Badge_Explorer_Silver {background-position: -100px 0}
.medal50-badges.medal-Badge_NL1331_Black {background-position: -150px 0}
.medal50-badges.medal-Badge_MindController_Bronze {background-position: -200px 0}
.medal50-badges.medal-Badge_Recruiter_Gold {background-position: -250px 0}
.medal50-badges.medal-Badge_SpecOps_Platinum {background-position: -300px 0}
.medal50-badges.medal-Badge_Liberator_Silver {background-position: -350px 0}
.medal50-badges.medal-Badge_SpecOps_Gold {background-position: -400px 0}
.medal50-badges.medal-Badge_Vanguard_Black {background-position: -450px 0}
.medal50-badges.medal-Badge_Epoch_Platinum {background-position: -500px 0}
.medal50-badges.medal-Badge_FS_Platinum {background-position: -550px 0}
.medal50-badges.medal-Badge_MissionDayPrime_Silver {background-position: -600px 0}
.medal50-badges.medal-Badge_Maverick_Bronze {background-position: -650px 0}
.medal50-badges.medal-Badge_Illuminator_Platinum {background-position: -700px 0}
.medal50-badges.medal-Badge_NL1331_Bronze {background-position: 0 -50px}
.medal50-badges.medal-Badge_MindController_Silver {background-position: -50px -50px}
.medal50-badges.medal-Badge_Resurgence_Gold {background-position: -100px -50px}
.medal50-badges.medal-Badge_Pioneer_Platinum {background-position: -150px -50px}
.medal50-badges.medal-Badge_Epoch_Bronze {background-position: -200px -50px}
.medal50-badges.medal-Badge_Illuminator_Silver {background-position: -250px -50px}
.medal50-badges.medal-Badge_Hacker_Gold {background-position: -300px -50px}
.medal50-badges.medal-Badge_Scout_Gold {background-position: -350px -50px}
.medal50-badges.medal-Badge_Epoch_Silver {background-position: -400px -50px}
.medal50-badges.medal-Badge_Sage_Platinum {background-position: -450px -50px}
.medal50-badges.medal-Badge_Purifier_Silver {background-position: -500px -50px}
.medal50-badges.medal-Badge_MissionDayPrime_Bronze {background-position: -550px -50px}
.medal50-badges.medal-Badge_Explorer_Gold {background-position: -600px -50px}
.medal50-badges.medal-Badge_Trekker_Platinum {background-position: -650px -50px}
.medal50-badges.medal-Badge_Purifier_Black {background-position: -700px -50px}
.medal50-badges.medal-Badge_SpecOps_Bronze {background-position: 0 -100px}
.medal50-badges.medal-Badge_SpecOps_Silver {background-position: -50px -100px}
.medal50-badges.medal-Badge_Illuminator_Bronze {background-position: -100px -100px}
.medal50-badges.medal-Badge_Innovator_Black {background-position: -150px -100px}
.medal50-badges.medal-Badge_Scout_Bronze {background-position: -200px -100px}
.medal50-badges.medal-Badge_ScoutController_Silver {background-position: -250px -100px}
.medal50-badges.medal-Badge_NL1331_Gold {background-position: -300px -100px}
.medal50-badges.medal-Badge_ScoutController_Black {background-position: -350px -100px}
.medal50-badges.medal-Badge_FS_Black {background-position: -400px -100px}
.medal50-badges.medal-Badge_Innovator_Silver {background-position: -450px -100px}
.medal50-badges.medal-Badge_Innovator_Platinum {background-position: -500px -100px}
.medal50-badges.medal-Badge_MindController_Gold {background-position: -550px -100px}
.medal50-badges.medal-Badge_Vanguard_Silver {background-position: -600px -100px}
.medal50-badges.medal-Badge_Ouroboros_Bronze {background-position: -650px -100px}
.medal50-badges.medal-Badge_Sojourner_Bronze {background-position: -700px -100px}
.medal50-badges.medal-Badge_Engineer_Platinum {background-position: 0 -150px}
.medal50-badges.medal-Badge_Maverick_Black {background-position: -50px -150px}
.medal50-badges.medal-Badge_Pioneer_Black {background-position: -100px -150px}
.medal50-badges.medal-Badge_ScoutController_Platinum {background-position: -150px -150px}
.medal50-badges.medal-Badge_Vanguard_Platinum {background-position: -200px -150px}
.medal50-badges.medal-Badge_Connector_Silver {background-position: -250px -150px}
.medal50-badges.medal-Badge_Sage_Bronze {background-position: -300px -150px}
.medal50-badges.medal-Badge_Maverick_Platinum {background-position: -350px -150px}
.medal50-badges.medal-Badge_ScoutController_Gold {background-position: -400px -150px}
.medal50-badges.medal-Badge_Resonance_Black {background-position: -450px -150px}
.medal50-badges.medal-Badge_Pioneer_Silver {background-position: -500px -150px}
.medal50-badges.medal-Badge_Trekker_Silver {background-position: -550px -150px}
.medal50-badges.medal-Badge_Seer_Bronze {background-position: -600px -150px}
.medal50-badges.medal-Badge_Translator_Platinum {background-position: -650px -150px}
.medal50-badges.medal-Badge_Epoch_Gold {background-position: -700px -150px}
.medal50-badges.medal-Badge_Builder_Silver {background-position: 0 -200px}
.medal50-badges.medal-Badge_ScoutController_Bronze {background-position: -50px -200px}
.medal50-badges.medal-Badge_Translator_Bronze {background-position: -100px -200px}
.medal50-badges.medal-Badge_Maverick_Gold {background-position: -150px -200px}
.medal50-badges.medal-Badge_Illuminator_Gold {background-position: -200px -200px}
.medal50-badges.medal-Badge_Scout_Platinum {background-position: -250px -200px}
.medal50-badges.medal-Badge_Resurgence_Black {background-position: -300px -200px}
.medal50-badges.medal-Badge_Scout_Silver {background-position: -350px -200px}
.medal50-badges.medal-Badge_Recruiter_Silver {background-position: -400px -200px}
.medal50-badges.medal-Badge_Pioneer_Gold {background-position: -450px -200px}
.medal50-badges.medal-Badge_Resonance_Silver {background-position: -500px -200px}
.medal50-badges.medal-Badge_Resonance_Bronze {background-position: -550px -200px}
.medal50-badges.medal-Badge_Vanguard_Gold {background-position: -600px -200px}
.medal50-badges.medal-Badge_Connector_Platinum {background-position: -650px -200px}
.medal50-badges.medal-Badge_Hacker_Platinum {background-position: -700px -200px}
.medal50-badges.medal-Badge_Connector_Gold {background-position: 0 -250px}
.medal50-badges.medal-Badge_Resurgence_Silver {background-position: -50px -250px}
.medal50-badges.medal-Badge_Luminary_Platinum {background-position: -100px -250px}
.medal50-badges.medal-Badge_Purifier_Gold {background-position: -150px -250px}
.medal50-badges.medal-Badge_Purifier_Platinum {background-position: -200px -250px}
.medal50-badges.medal-Badge_Luminary_Silver {background-position: -250px -250px}
.medal50-badges.medal-Badge_MindController_Black {background-position: -300px -250px}
.medal50-badges.medal-Badge_Sojourner_Platinum {background-position: -350px -250px}
.medal50-badges.medal-Badge_Explorer_Platinum {background-position: -400px -250px}
.medal50-badges.medal-Badge_Liberator_Gold {background-position: -450px -250px}
.medal50-badges.medal-Badge_Connector_Black {background-position: -500px -250px}
.medal50-badges.medal-Badge_Ouroboros_Black {background-position: -550px -250px}
.medal50-badges.medal-Badge_Trekker_Black {background-position: -600px -250px}
.medal50-badges.medal-Badge_MissionDayPrime_Black {background-position: -650px -250px}
.medal50-badges.medal-Badge_MindController_Platinum {background-position: -700px -250px}
.medal50-badges.medal-Badge_Ouroboros_Platinum {background-position: 0 -300px}
.medal50-badges.medal-Badge_Recharger_Black {background-position: -50px -300px}
.medal50-badges.medal-Badge_Translator_Gold {background-position: -100px -300px}
.medal50-badges.medal-Badge_Liberator_Platinum {background-position: -150px -300px}
.medal50-badges.medal-Badge_Illuminator_Black {background-position: -200px -300px}
.medal50-badges.medal-Badge_SpecOps_Black {background-position: -250px -300px}
.medal50-badges.medal-Badge_Connector_Bronze {background-position: -300px -300px}
.medal50-badges.medal-Badge_Hacker_Bronze {background-position: -350px -300px}
.medal50-badges.medal-Badge_Recruiter_Black {background-position: -400px -300px}
.medal50-badges.medal-Badge_Resonance_Gold {background-position: -450px -300px}
.medal50-badges.medal-Badge_Seer_Platinum {background-position: -500px -300px}
.medal50-badges.medal-Badge_Innovator_Bronze {background-position: -550px -300px}
.medal50-badges.medal-Badge_Sojourner_Silver {background-position: -600px -300px}
.medal50-badges.medal-Badge_Recharger_Silver {background-position: -650px -300px}
.medal50-badges.medal-Badge_Sojourner_Gold {background-position: -700px -300px}
.medal50-badges.medal-Badge_Liberator_Black {background-position: 0 -350px}
.medal50-badges.medal-Badge_Sage_Gold {background-position: -50px -350px}
.medal50-badges.medal-Badge_Liberator_Bronze {background-position: -100px -350px}
.medal50-badges.medal-Badge_Builder_Black {background-position: -150px -350px}
.medal50-badges.medal-Badge_Sage_Black {background-position: -200px -350px}
.medal50-badges.medal-Badge_Purifier_Bronze {background-position: -250px -350px}
.medal50-badges.medal-Badge_MissionDayPrime_Gold {background-position: -300px -350px}
.medal50-badges.medal-Badge_FS_Silver {background-position: -350px -350px}
.medal50-badges.medal-Badge_Luminary_Gold {background-position: -400px -350px}
.medal50-badges.medal-Badge_Recruiter_Platinum {background-position: -450px -350px}
.medal50-badges.medal-Badge_Seer_Black {background-position: -500px -350px}
.medal50-badges.medal-Badge_Ouroboros_Silver {background-position: -550px -350px}
.medal50-badges.medal-Badge_KnightTessellation_Gold {background-position: -600px -350px}
.medal50-badges.medal-Badge_Hacker_Silver {background-position: -650px -350px}
.medal50-badges.medal-Badge_Resurgence_Bronze {background-position: -700px -350px}
.medal50-badges.medal-Badge_OPR_Gold {background-position: 0 -400px}
.medal50-badges.medal-Badge_Ouroboros_Gold {background-position: -50px -400px}
.medal50-badges.medal-Badge_Builder_Gold {background-position: -100px -400px}
.medal50-badges.medal-Badge_OPR_Silver {background-position: -150px -400px}
.medal50-badges.medal-Badge_FS_Gold {background-position: -200px -400px}
.medal50-badges.medal-Badge_Builder_Bronze {background-position: -250px -400px}
.medal50-badges.medal-Badge_Epoch_Black {background-position: -300px -400px}
.medal50-badges.medal-Badge_Explorer_Black {background-position: -350px -400px}
.medal50-badges.medal-Badge_Engineer_Gold {background-position: -400px -400px}
.medal50-badges.medal-Badge_Scout_Black {background-position: -450px -400px}
.medal50-badges.medal-Badge_Trekker_Bronze {background-position: -500px -400px}
.medal50-badges.medal-Badge_Recharger_Platinum {background-position: -550px -400px}
.medal50-badges.medal-Badge_Recruiter_Bronze {background-position: -600px -400px}
.medal50-badges.medal-Badge_Hacker_Black {background-position: -650px -400px}
.medal50-badges.medal-Badge_Resonance_Platinum {background-position: -700px -400px}
.medal50-badges.medal-Badge_Trekker_Gold {background-position: 0 -450px}
.medal50-badges.medal-Badge_Recharger_Gold {background-position: -50px -450px}
.medal50-badges.medal-Badge_KineticChallenge_Bronze {background-position: -100px -450px}
.medal50-badges.medal-Badge_Luminary_Bronze {background-position: -150px -450px}
.medal50-badges.medal-Badge_OPR_Black {background-position: -200px -450px}
.medal50-badges.medal-Badge_Innovator_Gold {background-position: -250px -450px}
.medal50-badges.medal-Badge_FS_Bronze {background-position: -300px -450px}
.medal50-badges.medal-Badge_Maverick_Silver {background-position: -350px -450px}
.medal50-badges.medal-Badge_OPR_Platinum {background-position: -400px -450px}
.medal50-badges.medal-Badge_Engineer_Silver {background-position: -450px -450px}
.medal50-badges.medal-Badge_Vanguard_Bronze {background-position: -500px -450px}
.medal50-badges.medal-Badge_NL1331_Platinum {background-position: -550px -450px}
.medal50-badges.medal-Badge_Engineer_Black {background-position: -600px -450px}
.medal50-badges.medal-Badge_KnightTessellation_Silver {background-position: -650px -450px}
.medal50-badges.medal-Badge_Pioneer_Bronze {background-position: -700px -450px}
.medal50-badges.medal-Badge_Translator_Silver {background-position: 0 -500px}
.medal50-badges.medal-Badge_Resurgence_Platinum {background-position: -50px -500px}
.medal50-badges.medal-Badge_MissionDayPrime_Platinum {background-position: -100px -500px}
.medal50-badges.medal-Badge_OPR_Bronze {background-position: -150px -500px}
.medal50-badges.medal-Badge_Engineer_Bronze {background-position: -200px -500px}
.medal50-badges.medal-Badge_Seer_Silver {background-position: -250px -500px}
.medal50-badges.medal-Badge_Recharger_Bronze {background-position: -300px -500px}
.medal50-badges.medal-Badge_Luminary_Black {background-position: -350px -500px}
.medal50-badges.medal-Badge_Sojourner_Black {background-position: -400px -500px}
.medal50-badges.medal-Badge_NL1331_Silver {background-position: -450px -500px}
.medal50-badges.medal-Badge_Explorer_Bronze {background-position: -500px -500px}
.medal50-badges.medal-Badge_Sage_Silver {background-position: -550px -500px}
.medal50-badges.medal-Badge_Translator_Black {background-position: -600px -500px}