.medal50 {
	width: 50px;
	height: 50px;
	display: inline-block;
	background:url(../images/sprites/medals_50.png) no-repeat
}
.medal50.medal-Badge_Builder_Platinum {background-position: 0 0}
.medal50.medal-Badge_Seer_Gold {background-position: -50px 0}
.medal50.medal-EventBadge_UmbraDeploy_Gold {background-position: -100px 0}
.medal50.medal-Anomaly_ViaNoir {background-position: -150px 0}
.medal50.medal-Badge_Explorer_Silver {background-position: -200px 0}
.medal50.medal-Badge_NL1331_Black {background-position: -250px 0}
.medal50.medal-Badge_MindController_Bronze {background-position: -300px 0}
.medal50.medal-Badge_Recruiter_Gold {background-position: -350px 0}
.medal50.medal-Badge_Persistence_Black {background-position: -400px 0}
.medal50.medal-Badge_SpecOps_Platinum {background-position: -450px 0}
.medal50.medal-EventBadge_MagnusBuilder_Architect {background-position: -500px 0}
.medal50.medal-EventBadge_DidactField_Silver {background-position: -550px 0}
.medal50.medal-Badge_Liberator_Silver {background-position: -600px 0}
.medal50.medal-Anomaly_Umbra {background-position: -650px 0}
.medal50.medal-Badge_SecondSunday_Gold {background-position: -700px 0}
.medal50.medal-Badge_SpecOps_Gold {background-position: 0 -50px}
.medal50.medal-Badge_Vanguard_Black {background-position: -50px -50px}
.medal50.medal-Badge_Epoch_Platinum {background-position: -100px -50px}
.medal50.medal-Badge_FS_Platinum {background-position: -150px -50px}
.medal50.medal-Badge_MissionDayPrime_Silver {background-position: -200px -50px}
.medal50.medal-Badge_Maverick_Bronze {background-position: -250px -50px}
.medal50.medal-Badge_Illuminator_Platinum {background-position: -300px -50px}
.medal50.medal-Badge_NL1331_Bronze {background-position: -350px -50px}
.medal50.medal-EventBadge_CassandraNeutralizer_Silver {background-position: -400px -50px}
.medal50.medal-Badge_MindController_Silver {background-position: -450px -50px}
.medal50.medal-Badge_Resurgence_Gold {background-position: -500px -50px}
.medal50.medal-Badge_Pioneer_Platinum {background-position: -550px -50px}
.medal50.medal-Badge_Epoch_Bronze {background-position: -600px -50px}
.medal50.medal-Anomaly_Persepolis {background-position: -650px -50px}
.medal50.medal-Badge_Illuminator_Silver {background-position: -700px -50px}
.medal50.medal-Badge_Hacker_Gold {background-position: 0 -100px}
.medal50.medal-Badge_SecondSunday_Black {background-position: -50px -100px}
.medal50.medal-Badge_Scout_Gold {background-position: -100px -100px}
.medal50.medal-Badge_Epoch_Silver {background-position: -150px -100px}
.medal50.medal-Anomaly_Abaddon {background-position: -200px -100px}
.medal50.medal-Badge_Sage_Platinum {background-position: -250px -100px}
.medal50.medal-Badge_Purifier_Silver {background-position: -300px -100px}
.medal50.medal-Badge_MissionDayPrime_Bronze {background-position: -350px -100px}
.medal50.medal-Badge_Explorer_Gold {background-position: -400px -100px}
.medal50.medal-Badge_Trekker_Platinum {background-position: -450px -100px}
.medal50.medal-EventBadge_MyriadHack_Bronze {background-position: -500px -100px}
.medal50.medal-Badge_Purifier_Black {background-position: -550px -100px}
.medal50.medal-Badge_SecondSunday_Silver {background-position: -600px -100px}
.medal50.medal-Anomaly_Obsidian {background-position: -650px -100px}
.medal50.medal-Badge_SpecOps_Bronze {background-position: -700px -100px}
.medal50.medal-Badge_SpecOps_Silver {background-position: 0 -150px}
.medal50.medal-EventBadge_MyriadHack_Gold {background-position: -50px -150px}
.medal50.medal-UniqueBadge_CORE {background-position: -100px -150px}
.medal50.medal-Badge_Illuminator_Bronze {background-position: -150px -150px}
.medal50.medal-Badge_Innovator_Black {background-position: -200px -150px}
.medal50.medal-Badge_Persistence_Platinum {background-position: -250px -150px}
.medal50.medal-Badge_CSans_Bronze {background-position: -300px -150px}
.medal50.medal-Badge_Scout_Bronze {background-position: -350px -150px}
.medal50.medal-Badge_ScoutController_Silver {background-position: -400px -150px}
.medal50.medal-Badge_NL1331_Gold {background-position: -450px -150px}
.medal50.medal-Badge_ScoutController_Black {background-position: -500px -150px}
.medal50.medal-Anomaly_Darsana {background-position: -550px -150px}
.medal50.medal-EventBadge_DarkXM_Gold {background-position: -600px -150px}
.medal50.medal-Badge_Persistence_Bronze {background-position: -650px -150px}
.medal50.medal-Badge_FS_Black {background-position: -700px -150px}
.medal50.medal-Badge_CourierChallenge_Silver {background-position: 0 -200px}
.medal50.medal-Anomaly_DarsanaPrime {background-position: -50px -200px}
.medal50.medal-Badge_Innovator_Silver {background-position: -100px -200px}
.medal50.medal-EventBadge_LuxAdventure_Odyssey {background-position: -150px -200px}
.medal50.medal-EventBadge_AuroraGlyph_Gold {background-position: -200px -200px}
.medal50.medal-Badge_Innovator_Platinum {background-position: -250px -200px}
.medal50.medal-Badge_MindController_Gold {background-position: -300px -200px}
.medal50.medal-Badge_Vanguard_Silver {background-position: -350px -200px}
.medal50.medal-Badge_Ouroboros_Bronze {background-position: -400px -200px}
.medal50.medal-Badge_Sojourner_Bronze {background-position: -450px -200px}
.medal50.medal-Badge_Engineer_Platinum {background-position: -500px -200px}
.medal50.medal-Badge_Maverick_Black {background-position: -550px -200px}
.medal50.medal-EventBadge_FieldTest_Elite {background-position: -600px -200px}
.medal50.medal-Badge_Pioneer_Black {background-position: -650px -200px}
.medal50.medal-Anomaly_Kythera {background-position: -700px -200px}
.medal50.medal-Badge_ScoutController_Platinum {background-position: 0 -250px}
.medal50.medal-Badge_Vanguard_Platinum {background-position: -50px -250px}
.medal50.medal-EventBadge_AuroraGlyph_Silver {background-position: -100px -250px}
.medal50.medal-Badge_Connector_Silver {background-position: -150px -250px}
.medal50.medal-Badge_Sage_Bronze {background-position: -200px -250px}
.medal50.medal-Badge_Maverick_Platinum {background-position: -250px -250px}
.medal50.medal-Badge_ScoutController_Gold {background-position: -300px -250px}
.medal50.medal-EventBadge_MagnusBuilder_Builder {background-position: -350px -250px}
.medal50.medal-Anomaly_Initio {background-position: -400px -250px}
.medal50.medal-Badge_Resonance_Black {background-position: -450px -250px}
.medal50.medal-Anomaly_Interitus {background-position: -500px -250px}
.medal50.medal-Badge_Pioneer_Silver {background-position: -550px -250px}
.medal50.medal-Badge_KineticChallenge_Gold {background-position: -600px -250px}
.medal50.medal-EventBadge_EXO5_2000 {background-position: -650px -250px}
.medal50.medal-Anomaly_RecursionPrime {background-position: -700px -250px}
.medal50.medal-Anomaly_Recursion {background-position: 0 -300px}
.medal50.medal-Badge_Trekker_Silver {background-position: -50px -300px}
.medal50.medal-Badge_Seer_Bronze {background-position: -100px -300px}
.medal50.medal-Badge_Translator_Platinum {background-position: -150px -300px}
.medal50.medal-EventBadge_CassandraNeutralizer_Bronze {background-position: -200px -300px}
.medal50.medal-Badge_Epoch_Gold {background-position: -250px -300px}
.medal50.medal-Badge_Builder_Silver {background-position: -300px -300px}
.medal50.medal-Badge_ScoutController_Bronze {background-position: -350px -300px}
.medal50.medal-Badge_Translator_Bronze {background-position: -400px -300px}
.medal50.medal-Badge_Maverick_Gold {background-position: -450px -300px}
.medal50.medal-Badge_Illuminator_Gold {background-position: -500px -300px}
.medal50.medal-Badge_Scout_Platinum {background-position: -550px -300px}
.medal50.medal-Badge_Resurgence_Black {background-position: -600px -300px}
.medal50.medal-Badge_Persistence_Silver {background-position: -650px -300px}
.medal50.medal-Badge_Scout_Silver {background-position: -700px -300px}
.medal50.medal-Badge_Recruiter_Silver {background-position: 0 -350px}
.medal50.medal-Badge_Pioneer_Gold {background-position: -50px -350px}
.medal50.medal-Badge_Resonance_Silver {background-position: -100px -350px}
.medal50.medal-Badge_Resonance_Bronze {background-position: -150px -350px}
.medal50.medal-Badge_Vanguard_Gold {background-position: -200px -350px}
.medal50.medal-EventBadge_EXO5_500 {background-position: -250px -350px}
.medal50.medal-Badge_Connector_Platinum {background-position: -300px -350px}
.medal50.medal-Badge_Hacker_Platinum {background-position: -350px -350px}
.medal50.medal-Badge_Connector_Gold {background-position: -400px -350px}
.medal50.medal-Badge_SecondSunday_Platinum {background-position: -450px -350px}
.medal50.medal-Badge_Resurgence_Silver {background-position: -500px -350px}
.medal50.medal-Badge_Luminary_Platinum {background-position: -550px -350px}
.medal50.medal-Badge_Purifier_Gold {background-position: -600px -350px}
.medal50.medal-Badge_Persistence_Gold {background-position: -650px -350px}
.medal50.medal-Badge_Purifier_Platinum {background-position: -700px -350px}
.medal50.medal-Badge_Luminary_Silver {background-position: 0 -400px}
.medal50.medal-Badge_MindController_Black {background-position: -50px -400px}
.medal50.medal-EventBadge_UmbraDeploy_Bronze {background-position: -100px -400px}
.medal50.medal-Badge_Sojourner_Platinum {background-position: -150px -400px}
.medal50.medal-Badge_Explorer_Platinum {background-position: -200px -400px}
.medal50.medal-Badge_Liberator_Gold {background-position: -250px -400px}
.medal50.medal-Badge_EOSImprint_Silver {background-position: -300px -400px}
.medal50.medal-Badge_CSans_Gold {background-position: -350px -400px}
.medal50.medal-Badge_Connector_Black {background-position: -400px -400px}
.medal50.medal-Badge_Ouroboros_Black {background-position: -450px -400px}
.medal50.medal-Badge_Trekker_Black {background-position: -500px -400px}
.medal50.medal-UniqueBadge_Paragon {background-position: -550px -400px}
.medal50.medal-Badge_MissionDayPrime_Black {background-position: -600px -400px}
.medal50.medal-Badge_MindController_Platinum {background-position: -650px -400px}
.medal50.medal-Badge_Ouroboros_Platinum {background-position: -700px -400px}
.medal50.medal-Badge_Recharger_Black {background-position: 0 -450px}
.medal50.medal-Badge_Translator_Gold {background-position: -50px -450px}
.medal50.medal-Badge_Liberator_Platinum {background-position: -100px -450px}
.medal50.medal-Badge_CourierChallenge_Gold {background-position: -150px -450px}
.medal50.medal-Badge_EOSImprint_Gold {background-position: -200px -450px}
.medal50.medal-Badge_Illuminator_Black {background-position: -250px -450px}
.medal50.medal-Badge_Pathfinder_Silver {background-position: -300px -450px}
.medal50.medal-Badge_SpecOps_Black {background-position: -350px -450px}
.medal50.medal-Badge_Connector_Bronze {background-position: -400px -450px}
.medal50.medal-Badge_EOSImprint_Bronze {background-position: -450px -450px}
.medal50.medal-Anomaly_Superposition {background-position: -500px -450px}
.medal50.medal-Anomaly_ViaLux {background-position: -550px -450px}
.medal50.medal-Badge_Hacker_Bronze {background-position: -600px -450px}
.medal50.medal-Badge_Recruiter_Black {background-position: -650px -450px}
.medal50.medal-Badge_Resonance_Gold {background-position: -700px -450px}
.medal50.medal-Badge_Seer_Platinum {background-position: 0 -500px}
.medal50.medal-Badge_CSans_Silver {background-position: -50px -500px}
.medal50.medal-Anomaly_Helios {background-position: -100px -500px}
.medal50.medal-UniqueBadge_PeaceDay_2022 {background-position: -150px -500px}
.medal50.medal-Badge_Innovator_Bronze {background-position: -200px -500px}
.medal50.medal-Badge_Sojourner_Silver {background-position: -250px -500px}
.medal50.medal-Badge_Recharger_Silver {background-position: -300px -500px}
.medal50.medal-Anomaly_Osiris {background-position: -350px -500px}
.medal50.medal-Badge_Sojourner_Gold {background-position: -400px -500px}
.medal50.medal-Badge_Liberator_Black {background-position: -450px -500px}
.medal50.medal-Badge_Pathfinder_Black {background-position: -500px -500px}
.medal50.medal-Badge_Sage_Gold {background-position: -550px -500px}
.medal50.medal-Badge_Liberator_Bronze {background-position: -600px -500px}
.medal50.medal-Badge_Builder_Black {background-position: -650px -500px}
.medal50.medal-Badge_Sage_Black {background-position: -700px -500px}
.medal50.medal-UniqueBadge_AvenirShardChallenge {background-position: 0 -550px}
.medal50.medal-EventBadge_LuxAdventure_Explorer {background-position: -50px -550px}
.medal50.medal-Badge_Purifier_Bronze {background-position: -100px -550px}
.medal50.medal-Anomaly_Requiem {background-position: -150px -550px}
.medal50.medal-Badge_MissionDayPrime_Gold {background-position: -200px -550px}
.medal50.medal-Badge_FS_Silver {background-position: -250px -550px}
.medal50.medal-Badge_Luminary_Gold {background-position: -300px -550px}
.medal50.medal-Badge_Recruiter_Platinum {background-position: -350px -550px}
.medal50.medal-Badge_Seer_Black {background-position: -400px -550px}
.medal50.medal-EventBadge_CassandraNeutralizer_Gold {background-position: -450px -550px}
.medal50.medal-Anomaly_13MAGNUSReawakens {background-position: -500px -550px}
.medal50.medal-Badge_Ouroboros_Silver {background-position: -550px -550px}
.medal50.medal-Anomaly_NemesisMyriad {background-position: -600px -550px}
.medal50.medal-Badge_KnightTessellation_Gold {background-position: -650px -550px}
.medal50.medal-Badge_Hacker_Silver {background-position: -700px -550px}
.medal50.medal-Badge_Resurgence_Bronze {background-position: 0 -600px}
.medal50.medal-Badge_OPR_Gold {background-position: -50px -600px}
.medal50.medal-Badge_Ouroboros_Gold {background-position: -100px -600px}
.medal50.medal-Anomaly_CassandraPrime {background-position: -150px -600px}
.medal50.medal-Badge_Builder_Gold {background-position: -200px -600px}
.medal50.medal-Badge_OPR_Silver {background-position: -250px -600px}
.medal50.medal-Badge_FS_Gold {background-position: -300px -600px}
.medal50.medal-Badge_Builder_Bronze {background-position: -350px -600px}
.medal50.medal-Badge_Epoch_Black {background-position: -400px -600px}
.medal50.medal-UniqueBadge_Simulacrum {background-position: -450px -600px}
.medal50.medal-Badge_Explorer_Black {background-position: -500px -600px}
.medal50.medal-Badge_Engineer_Gold {background-position: -550px -600px}
.medal50.medal-Anomaly_Shonin {background-position: -600px -600px}
.medal50.medal-Badge_Scout_Black {background-position: -650px -600px}
.medal50.medal-EventBadge_EXO5_100 {background-position: -700px -600px}
.medal50.medal-Badge_Trekker_Bronze {background-position: 0 -650px}
.medal50.medal-Badge_CourierChallenge_Bronze {background-position: -50px -650px}
.medal50.medal-Badge_Recharger_Platinum {background-position: -100px -650px}
.medal50.medal-EventBadge_Perpetua {background-position: -150px -650px}
.medal50.medal-EventBadge_DidactField_Gold {background-position: -200px -650px}
.medal50.medal-Badge_Recruiter_Bronze {background-position: -250px -650px}
.medal50.medal-Anomaly_EXO5 {background-position: -300px -650px}
.medal50.medal-Badge_Hacker_Black {background-position: -350px -650px}
.medal50.medal-Badge_Resonance_Platinum {background-position: -400px -650px}
.medal50.medal-Badge_SecondSunday_Bronze {background-position: -450px -650px}
.medal50.medal-Badge_Trekker_Gold {background-position: -500px -650px}
.medal50.medal-Badge_Recharger_Gold {background-position: -550px -650px}
.medal50.medal-EventBadge_UmbraDeploy_Silver {background-position: -600px -650px}
.medal50.medal-Badge_KineticChallenge_Bronze {background-position: -650px -650px}
.medal50.medal-Badge_Luminary_Bronze {background-position: -700px -650px}
.medal50.medal-Anomaly_AbaddonPrime {background-position: 0 -700px}
.medal50.medal-Badge_OPR_Black {background-position: -50px -700px}
.medal50.medal-Badge_Innovator_Gold {background-position: -100px -700px}
.medal50.medal-Badge_FS_Bronze {background-position: -150px -700px}
.medal50.medal-Badge_Maverick_Silver {background-position: -200px -700px}
.medal50.medal-Badge_OPR_Platinum {background-position: -250px -700px}
.medal50.medal-Badge_Engineer_Silver {background-position: -300px -700px}
.medal50.medal-Anomaly_KurezeEffect {background-position: -350px -700px}
.medal50.medal-Badge_Vanguard_Bronze {background-position: -400px -700px}
.medal50.medal-Badge_Pathfinder_Platinum {background-position: -450px -700px}
.medal50.medal-EventBadge_MyriadHack_Silver {background-position: -500px -700px}
.medal50.medal-Badge_NL1331_Platinum {background-position: -550px -700px}
.medal50.medal-Badge_Pathfinder_Bronze {background-position: -600px -700px}
.medal50.medal-Badge_Engineer_Black {background-position: -650px -700px}
.medal50.medal-Badge_KnightTessellation_Silver {background-position: -700px -700px}
.medal50.medal-Badge_Pioneer_Bronze {background-position: 0 -750px}
.medal50.medal-EventBadge_DarkXM_Silver {background-position: -50px -750px}
.medal50.medal-EventBadge_DidactField_Bronze {background-position: -100px -750px}
.medal50.medal-EventBadge_DarkXM_Bronze {background-position: -150px -750px}
.medal50.medal-Badge_Translator_Silver {background-position: -200px -750px}
.medal50.medal-EventBadge_Perpetua_Elite {background-position: -250px -750px}
.medal50.medal-Badge_Resurgence_Platinum {background-position: -300px -750px}
.medal50.medal-Badge_KineticChallenge_Silver {background-position: -350px -750px}
.medal50.medal-Badge_MissionDayPrime_Platinum {background-position: -400px -750px}
.medal50.medal-Badge_OPR_Bronze {background-position: -450px -750px}
.medal50.medal-Badge_Engineer_Bronze {background-position: -500px -750px}
.medal50.medal-Badge_Seer_Silver {background-position: -550px -750px}
.medal50.medal-Badge_Recharger_Bronze {background-position: -600px -750px}
.medal50.medal-Badge_Luminary_Black {background-position: -650px -750px}
.medal50.medal-Badge_Sojourner_Black {background-position: -700px -750px}
.medal50.medal-Anomaly_AegisNova {background-position: 0 -800px}
.medal50.medal-Badge_NL1331_Silver {background-position: -50px -800px}
.medal50.medal-Badge_Pathfinder_Gold {background-position: -100px -800px}
.medal50.medal-Badge_Explorer_Bronze {background-position: -150px -800px}
.medal50.medal-Anomaly_EpiphanyDawn {background-position: -200px -800px}
.medal50.medal-EventBadge_FieldTest {background-position: -250px -800px}
.medal50.medal-Badge_Sage_Silver {background-position: -300px -800px}
.medal50.medal-Badge_Translator_Black {background-position: -350px -800px}
.medal50.medal-EventBadge_AuroraGlyph_Bronze {background-position: -400px -800px}