.medal24-events {
	width: 24px;
	height: 24px;
	display: inline-block;
	background:url(../images/sprites/medals_events_24.png) no-repeat
}
.medal24-events.medal-EventBadge_UmbraDeploy_Gold {background-position: 0 0}
.medal24-events.medal-Anomaly_ViaNoir {background-position: -24px 0}
.medal24-events.medal-EventBadge_MagnusBuilder_Architect {background-position: -48px 0}
.medal24-events.medal-EventBadge_DidactField_Silver {background-position: -72px 0}
.medal24-events.medal-Anomaly_Umbra {background-position: -96px 0}
.medal24-events.medal-EventBadge_CassandraNeutralizer_Silver {background-position: -120px 0}
.medal24-events.medal-Anomaly_Persepolis {background-position: -144px 0}
.medal24-events.medal-Anomaly_Abaddon {background-position: -168px 0}
.medal24-events.medal-EventBadge_MyriadHack_Bronze {background-position: -192px 0}
.medal24-events.medal-Anomaly_Obsidian {background-position: -216px 0}
.medal24-events.medal-EventBadge_MyriadHack_Gold {background-position: -240px 0}
.medal24-events.medal-UniqueBadge_CORE {background-position: -264px 0}
.medal24-events.medal-Anomaly_Darsana {background-position: -288px 0}
.medal24-events.medal-EventBadge_DarkXM_Gold {background-position: -312px 0}
.medal24-events.medal-Anomaly_DarsanaPrime {background-position: -336px 0}
.medal24-events.medal-EventBadge_LuxAdventure_Odyssey {background-position: 0 -24px}
.medal24-events.medal-EventBadge_AuroraGlyph_Gold {background-position: -24px -24px}
.medal24-events.medal-EventBadge_FieldTest_Elite {background-position: -48px -24px}
.medal24-events.medal-EventBadge_AuroraGlyph_Silver {background-position: -72px -24px}
.medal24-events.medal-EventBadge_MagnusBuilder_Builder {background-position: -96px -24px}
.medal24-events.medal-Anomaly_Initio {background-position: -120px -24px}
.medal24-events.medal-Anomaly_Interitus {background-position: -144px -24px}
.medal24-events.medal-EventBadge_EXO5_2000 {background-position: -168px -24px}
.medal24-events.medal-Anomaly_RecursionPrime {background-position: -192px -24px}
.medal24-events.medal-Anomaly_Recursion {background-position: -216px -24px}
.medal24-events.medal-EventBadge_CassandraNeutralizer_Bronze {background-position: -240px -24px}
.medal24-events.medal-EventBadge_EXO5_500 {background-position: -264px -24px}
.medal24-events.medal-EventBadge_UmbraDeploy_Bronze {background-position: -288px -24px}
.medal24-events.medal-UniqueBadge_Paragon {background-position: -312px -24px}
.medal24-events.medal-Anomaly_ViaLux {background-position: -336px -24px}
.medal24-events.medal-Anomaly_Helios {background-position: 0 -48px}
.medal24-events.medal-Anomaly_Osiris {background-position: -24px -48px}
.medal24-events.medal-UniqueBadge_AvenirShardChallenge {background-position: -48px -48px}
.medal24-events.medal-EventBadge_LuxAdventure_Explorer {background-position: -72px -48px}
.medal24-events.medal-Anomaly_Requiem {background-position: -96px -48px}
.medal24-events.medal-EventBadge_CassandraNeutralizer_Gold {background-position: -120px -48px}
.medal24-events.medal-Anomaly_13MAGNUSReawakens {background-position: -144px -48px}
.medal24-events.medal-Anomaly_NemesisMyriad {background-position: -168px -48px}
.medal24-events.medal-Anomaly_CassandraPrime {background-position: -192px -48px}
.medal24-events.medal-UniqueBadge_Simulacrum {background-position: -216px -48px}
.medal24-events.medal-Anomaly_Shonin {background-position: -240px -48px}
.medal24-events.medal-EventBadge_EXO5_100 {background-position: -264px -48px}
.medal24-events.medal-EventBadge_Perpetua {background-position: -288px -48px}
.medal24-events.medal-EventBadge_DidactField_Gold {background-position: -312px -48px}
.medal24-events.medal-Anomaly_EXO5 {background-position: -336px -48px}
.medal24-events.medal-EventBadge_UmbraDeploy_Silver {background-position: 0 -72px}
.medal24-events.medal-Anomaly_AbaddonPrime {background-position: -24px -72px}
.medal24-events.medal-Anomaly_KurezeEffect {background-position: -48px -72px}
.medal24-events.medal-EventBadge_MyriadHack_Silver {background-position: -72px -72px}
.medal24-events.medal-EventBadge_DarkXM_Silver {background-position: -96px -72px}
.medal24-events.medal-EventBadge_DidactField_Bronze {background-position: -120px -72px}
.medal24-events.medal-EventBadge_DarkXM_Bronze {background-position: -144px -72px}
.medal24-events.medal-EventBadge_Perpetua_Elite {background-position: -168px -72px}
.medal24-events.medal-Anomaly_AegisNova {background-position: -192px -72px}
.medal24-events.medal-EventBadge_FieldTest {background-position: -216px -72px}
.medal24-events.medal-EventBadge_AuroraGlyph_Bronze {background-position: -240px -72px}