.medal24 {
	width: 24px;
	height: 24px;
	display: inline-block;
	background:url(../images/sprites/medals_24.png) no-repeat
}
.medal24.medal-anomaly_13_magnusreawakens {background-position: 0 0}
.medal24.medal-anomaly_abaddon {background-position: -24px 0}
.medal24.medal-anomaly_abaddon_prime {background-position: -48px 0}
.medal24.medal-anomaly_aegis_nova {background-position: -72px 0}
.medal24.medal-anomaly_buried_memories {background-position: -96px 0}
.medal24.medal-anomaly_cassandra_prime {background-position: -120px 0}
.medal24.medal-anomaly_cryptic_memories {background-position: -144px 0}
.medal24.medal-anomaly_ctrl {background-position: -168px 0}
.medal24.medal-anomaly_darsana {background-position: -192px 0}
.medal24.medal-anomaly_darsana_prime {background-position: -216px 0}
.medal24.medal-anomaly_discoverie {background-position: -240px 0}
.medal24.medal-anomaly_echo {background-position: -264px 0}
.medal24.medal-anomaly_epiphany_dawn {background-position: -288px 0}
.medal24.medal-anomaly_erased_memories {background-position: -312px 0}
.medal24.medal-anomaly_exo5 {background-position: -336px 0}
.medal24.medal-anomaly_helios {background-position: 0 -24px}
.medal24.medal-anomaly_initio {background-position: -24px -24px}
.medal24.medal-anomaly_interitus {background-position: -48px -24px}
.medal24.medal-anomaly_kureze_effect {background-position: -72px -24px}
.medal24.medal-anomaly_kythera {background-position: -96px -24px}
.medal24.medal-anomaly_mzfpk {background-position: -120px -24px}
.medal24.medal-anomaly_nemesis_myriad {background-position: -144px -24px}
.medal24.medal-anomaly_obsidian {background-position: -168px -24px}
.medal24.medal-anomaly_osiris {background-position: -192px -24px}
.medal24.medal-anomaly_persepolis {background-position: -216px -24px}
.medal24.medal-anomaly_plus_alpha {background-position: -240px -24px}
.medal24.medal-anomaly_plus_delta_bronze {background-position: -264px -24px}
.medal24.medal-anomaly_plus_delta_gold {background-position: -288px -24px}
.medal24.medal-anomaly_plus_delta_silver {background-position: -312px -24px}
.medal24.medal-anomaly_plus_theta_bronze {background-position: -336px -24px}
.medal24.medal-anomaly_plus_theta_gold {background-position: 0 -48px}
.medal24.medal-anomaly_plus_theta_silver {background-position: -24px -48px}
.medal24.medal-anomaly_recursion {background-position: -48px -48px}
.medal24.medal-anomaly_recursion_prime {background-position: -72px -48px}
.medal24.medal-anomaly_shonin {background-position: -96px -48px}
.medal24.medal-anomaly_superposition {background-position: -120px -48px}
.medal24.medal-anomaly_umbra {background-position: -144px -48px}
.medal24.medal-anomaly_via_lux {background-position: -168px -48px}
.medal24.medal-anomaly_via_noir {background-position: -192px -48px}
.medal24.medal-badge_builder_black {background-position: -216px -48px}
.medal24.medal-badge_builder_bronze {background-position: -240px -48px}
.medal24.medal-badge_builder_gold {background-position: -264px -48px}
.medal24.medal-badge_builder_platinum {background-position: -288px -48px}
.medal24.medal-badge_builder_silver {background-position: -312px -48px}
.medal24.medal-badge_catalyst_black {background-position: -336px -48px}
.medal24.medal-badge_catalyst_bronze {background-position: 0 -72px}
.medal24.medal-badge_catalyst_gold {background-position: -24px -72px}
.medal24.medal-badge_catalyst_platinum {background-position: -48px -72px}
.medal24.medal-badge_catalyst_silver {background-position: -72px -72px}
.medal24.medal-badge_connector_black {background-position: -96px -72px}
.medal24.medal-badge_connector_bronze {background-position: -120px -72px}
.medal24.medal-badge_connector_gold {background-position: -144px -72px}
.medal24.medal-badge_connector_platinum {background-position: -168px -72px}
.medal24.medal-badge_connector_silver {background-position: -192px -72px}
.medal24.medal-badge_courier_challenge_bronze {background-position: -216px -72px}
.medal24.medal-badge_courier_challenge_gold {background-position: -240px -72px}
.medal24.medal-badge_courier_challenge_silver {background-position: -264px -72px}
.medal24.medal-badge_csans_bronze {background-position: -288px -72px}
.medal24.medal-badge_csans_gold {background-position: -312px -72px}
.medal24.medal-badge_csans_silver {background-position: -336px -72px}
.medal24.medal-badge_engineer_black {background-position: 0 -96px}
.medal24.medal-badge_engineer_bronze {background-position: -24px -96px}
.medal24.medal-badge_engineer_gold {background-position: -48px -96px}
.medal24.medal-badge_engineer_platinum {background-position: -72px -96px}
.medal24.medal-badge_engineer_silver {background-position: -96px -96px}
.medal24.medal-badge_eosimprint_bronze {background-position: -120px -96px}
.medal24.medal-badge_eosimprint_gold {background-position: -144px -96px}
.medal24.medal-badge_eosimprint_silver {background-position: -168px -96px}
.medal24.medal-badge_epoch_black {background-position: -192px -96px}
.medal24.medal-badge_epoch_bronze {background-position: -216px -96px}
.medal24.medal-badge_epoch_gold {background-position: -240px -96px}
.medal24.medal-badge_epoch_platinum {background-position: -264px -96px}
.medal24.medal-badge_epoch_silver {background-position: -288px -96px}
.medal24.medal-badge_explorer_black {background-position: -312px -96px}
.medal24.medal-badge_explorer_bronze {background-position: -336px -96px}
.medal24.medal-badge_explorer_gold {background-position: 0 -120px}
.medal24.medal-badge_explorer_platinum {background-position: -24px -120px}
.medal24.medal-badge_explorer_silver {background-position: -48px -120px}
.medal24.medal-badge_fs_black {background-position: -72px -120px}
.medal24.medal-badge_fs_bronze {background-position: -96px -120px}
.medal24.medal-badge_fs_gold {background-position: -120px -120px}
.medal24.medal-badge_fs_platinum {background-position: -144px -120px}
.medal24.medal-badge_fs_silver {background-position: -168px -120px}
.medal24.medal-badge_guardian_black {background-position: -192px -120px}
.medal24.medal-badge_guardian_bronze {background-position: -216px -120px}
.medal24.medal-badge_guardian_gold {background-position: -240px -120px}
.medal24.medal-badge_guardian_platinum {background-position: -264px -120px}
.medal24.medal-badge_guardian_silver {background-position: -288px -120px}
.medal24.medal-badge_hacker_black {background-position: -312px -120px}
.medal24.medal-badge_hacker_bronze {background-position: -336px -120px}
.medal24.medal-badge_hacker_gold {background-position: 0 -144px}
.medal24.medal-badge_hacker_platinum {background-position: -24px -144px}
.medal24.medal-badge_hacker_silver {background-position: -48px -144px}
.medal24.medal-badge_illuminator_black {background-position: -72px -144px}
.medal24.medal-badge_illuminator_bronze {background-position: -96px -144px}
.medal24.medal-badge_illuminator_gold {background-position: -120px -144px}
.medal24.medal-badge_illuminator_platinum {background-position: -144px -144px}
.medal24.medal-badge_illuminator_silver {background-position: -168px -144px}
.medal24.medal-badge_innovator_black {background-position: -192px -144px}
.medal24.medal-badge_innovator_bronze {background-position: -216px -144px}
.medal24.medal-badge_innovator_gold {background-position: -240px -144px}
.medal24.medal-badge_innovator_platinum {background-position: -264px -144px}
.medal24.medal-badge_innovator_silver {background-position: -288px -144px}
.medal24.medal-badge_kinetic_challenge_bronze {background-position: -312px -144px}
.medal24.medal-badge_kinetic_challenge_gold {background-position: -336px -144px}
.medal24.medal-badge_kinetic_challenge_silver {background-position: 0 -168px}
.medal24.medal-badge_knight_tessellation_gold {background-position: -24px -168px}
.medal24.medal-badge_knight_tessellation_silver {background-position: -48px -168px}
.medal24.medal-badge_liberator_black {background-position: -72px -168px}
.medal24.medal-badge_liberator_bronze {background-position: -96px -168px}
.medal24.medal-badge_liberator_gold {background-position: -120px -168px}
.medal24.medal-badge_liberator_platinum {background-position: -144px -168px}
.medal24.medal-badge_liberator_silver {background-position: -168px -168px}
.medal24.medal-badge_luminary_black {background-position: -192px -168px}
.medal24.medal-badge_luminary_bronze {background-position: -216px -168px}
.medal24.medal-badge_luminary_gold {background-position: -240px -168px}
.medal24.medal-badge_luminary_platinum {background-position: -264px -168px}
.medal24.medal-badge_luminary_silver {background-position: -288px -168px}
.medal24.medal-badge_maverick_black {background-position: -312px -168px}
.medal24.medal-badge_maverick_bronze {background-position: -336px -168px}
.medal24.medal-badge_maverick_gold {background-position: 0 -192px}
.medal24.medal-badge_maverick_platinum {background-position: -24px -192px}
.medal24.medal-badge_maverick_silver {background-position: -48px -192px}
.medal24.medal-badge_mind_controller_black {background-position: -72px -192px}
.medal24.medal-badge_mind_controller_bronze {background-position: -96px -192px}
.medal24.medal-badge_mind_controller_gold {background-position: -120px -192px}
.medal24.medal-badge_mind_controller_platinum {background-position: -144px -192px}
.medal24.medal-badge_mind_controller_silver {background-position: -168px -192px}
.medal24.medal-badge_mission_day_black {background-position: -192px -192px}
.medal24.medal-badge_mission_day_bronze {background-position: -216px -192px}
.medal24.medal-badge_mission_day_gold {background-position: -240px -192px}
.medal24.medal-badge_mission_day_platinum {background-position: -264px -192px}
.medal24.medal-badge_mission_day_prime_black {background-position: -288px -192px}
.medal24.medal-badge_mission_day_prime_bronze {background-position: -312px -192px}
.medal24.medal-badge_mission_day_prime_gold {background-position: -336px -192px}
.medal24.medal-badge_mission_day_prime_platinum {background-position: 0 -216px}
.medal24.medal-badge_mission_day_prime_silver {background-position: -24px -216px}
.medal24.medal-badge_mission_day_silver {background-position: -48px -216px}
.medal24.medal-badge_nl1331_black {background-position: -72px -216px}
.medal24.medal-badge_nl1331_bronze {background-position: -96px -216px}
.medal24.medal-badge_nl1331_gold {background-position: -120px -216px}
.medal24.medal-badge_nl1331_platinum {background-position: -144px -216px}
.medal24.medal-badge_nl1331_silver {background-position: -168px -216px}
.medal24.medal-badge_opr_black {background-position: -192px -216px}
.medal24.medal-badge_opr_bronze {background-position: -216px -216px}
.medal24.medal-badge_opr_gold {background-position: -240px -216px}
.medal24.medal-badge_opr_platinum {background-position: -264px -216px}
.medal24.medal-badge_opr_silver {background-position: -288px -216px}
.medal24.medal-badge_ouroboros_black {background-position: -312px -216px}
.medal24.medal-badge_ouroboros_bronze {background-position: -336px -216px}
.medal24.medal-badge_ouroboros_gold {background-position: 0 -240px}
.medal24.medal-badge_ouroboros_platinum {background-position: -24px -240px}
.medal24.medal-badge_ouroboros_silver {background-position: -48px -240px}
.medal24.medal-badge_paragon_black {background-position: -72px -240px}
.medal24.medal-badge_paragon_bronze {background-position: -96px -240px}
.medal24.medal-badge_paragon_gold {background-position: -120px -240px}
.medal24.medal-badge_paragon_platinum {background-position: -144px -240px}
.medal24.medal-badge_paragon_silver {background-position: -168px -240px}
.medal24.medal-badge_pathfinder_black {background-position: -192px -240px}
.medal24.medal-badge_pathfinder_bronze {background-position: -216px -240px}
.medal24.medal-badge_pathfinder_gold {background-position: -240px -240px}
.medal24.medal-badge_pathfinder_platinum {background-position: -264px -240px}
.medal24.medal-badge_pathfinder_silver {background-position: -288px -240px}
.medal24.medal-badge_persistence_black {background-position: -312px -240px}
.medal24.medal-badge_persistence_bronze {background-position: -336px -240px}
.medal24.medal-badge_persistence_gold {background-position: 0 -264px}
.medal24.medal-badge_persistence_platinum {background-position: -24px -264px}
.medal24.medal-badge_persistence_silver {background-position: -48px -264px}
.medal24.medal-badge_pioneer_black {background-position: -72px -264px}
.medal24.medal-badge_pioneer_bronze {background-position: -96px -264px}
.medal24.medal-badge_pioneer_gold {background-position: -120px -264px}
.medal24.medal-badge_pioneer_platinum {background-position: -144px -264px}
.medal24.medal-badge_pioneer_silver {background-position: -168px -264px}
.medal24.medal-badge_purifier_black {background-position: -192px -264px}
.medal24.medal-badge_purifier_bronze {background-position: -216px -264px}
.medal24.medal-badge_purifier_gold {background-position: -240px -264px}
.medal24.medal-badge_purifier_platinum {background-position: -264px -264px}
.medal24.medal-badge_purifier_silver {background-position: -288px -264px}
.medal24.medal-badge_recharger_black {background-position: -312px -264px}
.medal24.medal-badge_recharger_bronze {background-position: -336px -264px}
.medal24.medal-badge_recharger_gold {background-position: 0 -288px}
.medal24.medal-badge_recharger_platinum {background-position: -24px -288px}
.medal24.medal-badge_recharger_silver {background-position: -48px -288px}
.medal24.medal-badge_reclaimer_black {background-position: -72px -288px}
.medal24.medal-badge_reclaimer_bronze {background-position: -96px -288px}
.medal24.medal-badge_reclaimer_gold {background-position: -120px -288px}
.medal24.medal-badge_reclaimer_platinum {background-position: -144px -288px}
.medal24.medal-badge_reclaimer_silver {background-position: -168px -288px}
.medal24.medal-badge_recruiter_black {background-position: -192px -288px}
.medal24.medal-badge_recruiter_bronze {background-position: -216px -288px}
.medal24.medal-badge_recruiter_gold {background-position: -240px -288px}
.medal24.medal-badge_recruiter_platinum {background-position: -264px -288px}
.medal24.medal-badge_recruiter_silver {background-position: -288px -288px}
.medal24.medal-badge_resonance_black {background-position: -312px -288px}
.medal24.medal-badge_resonance_bronze {background-position: -336px -288px}
.medal24.medal-badge_resonance_gold {background-position: 0 -312px}
.medal24.medal-badge_resonance_platinum {background-position: -24px -312px}
.medal24.medal-badge_resonance_silver {background-position: -48px -312px}
.medal24.medal-badge_resurgence_black {background-position: -72px -312px}
.medal24.medal-badge_resurgence_bronze {background-position: -96px -312px}
.medal24.medal-badge_resurgence_gold {background-position: -120px -312px}
.medal24.medal-badge_resurgence_platinum {background-position: -144px -312px}
.medal24.medal-badge_resurgence_silver {background-position: -168px -312px}
.medal24.medal-badge_sage_black {background-position: -192px -312px}
.medal24.medal-badge_sage_bronze {background-position: -216px -312px}
.medal24.medal-badge_sage_gold {background-position: -240px -312px}
.medal24.medal-badge_sage_platinum {background-position: -264px -312px}
.medal24.medal-badge_sage_silver {background-position: -288px -312px}
.medal24.medal-badge_scout_black {background-position: -312px -312px}
.medal24.medal-badge_scout_bronze {background-position: -336px -312px}
.medal24.medal-badge_scout_controller_black {background-position: 0 -336px}
.medal24.medal-badge_scout_controller_bronze {background-position: -24px -336px}
.medal24.medal-badge_scout_controller_gold {background-position: -48px -336px}
.medal24.medal-badge_scout_controller_platinum {background-position: -72px -336px}
.medal24.medal-badge_scout_controller_silver {background-position: -96px -336px}
.medal24.medal-badge_scout_gold {background-position: -120px -336px}
.medal24.medal-badge_scout_platinum {background-position: -144px -336px}
.medal24.medal-badge_scout_silver {background-position: -168px -336px}
.medal24.medal-badge_second_sunday_black {background-position: -192px -336px}
.medal24.medal-badge_second_sunday_bronze {background-position: -216px -336px}
.medal24.medal-badge_second_sunday_gold {background-position: -240px -336px}
.medal24.medal-badge_second_sunday_platinum {background-position: -264px -336px}
.medal24.medal-badge_second_sunday_silver {background-position: -288px -336px}
.medal24.medal-badge_seer_black {background-position: -312px -336px}
.medal24.medal-badge_seer_bronze {background-position: -336px -336px}
.medal24.medal-badge_seer_gold {background-position: 0 -360px}
.medal24.medal-badge_seer_platinum {background-position: -24px -360px}
.medal24.medal-badge_seer_silver {background-position: -48px -360px}
.medal24.medal-badge_sojourner_black {background-position: -72px -360px}
.medal24.medal-badge_sojourner_bronze {background-position: -96px -360px}
.medal24.medal-badge_sojourner_gold {background-position: -120px -360px}
.medal24.medal-badge_sojourner_platinum {background-position: -144px -360px}
.medal24.medal-badge_sojourner_silver {background-position: -168px -360px}
.medal24.medal-badge_spec_ops_black {background-position: -192px -360px}
.medal24.medal-badge_spec_ops_bronze {background-position: -216px -360px}
.medal24.medal-badge_spec_ops_gold {background-position: -240px -360px}
.medal24.medal-badge_spec_ops_platinum {background-position: -264px -360px}
.medal24.medal-badge_spec_ops_silver {background-position: -288px -360px}
.medal24.medal-badge_translator_black {background-position: -312px -360px}
.medal24.medal-badge_translator_bronze {background-position: -336px -360px}
.medal24.medal-badge_translator_gold {background-position: 0 -384px}
.medal24.medal-badge_translator_platinum {background-position: -24px -384px}
.medal24.medal-badge_translator_silver {background-position: -48px -384px}
.medal24.medal-badge_trekker_black {background-position: -72px -384px}
.medal24.medal-badge_trekker_bronze {background-position: -96px -384px}
.medal24.medal-badge_trekker_gold {background-position: -120px -384px}
.medal24.medal-badge_trekker_platinum {background-position: -144px -384px}
.medal24.medal-badge_trekker_silver {background-position: -168px -384px}
.medal24.medal-badge_vanguard_black {background-position: -192px -384px}
.medal24.medal-badge_vanguard_bronze {background-position: -216px -384px}
.medal24.medal-badge_vanguard_gold {background-position: -240px -384px}
.medal24.medal-badge_vanguard_platinum {background-position: -264px -384px}
.medal24.medal-badge_vanguard_silver {background-position: -288px -384px}
.medal24.medal-event_badge_aurora_glyph_bronze {background-position: -312px -384px}
.medal24.medal-event_badge_aurora_glyph_gold {background-position: -336px -384px}
.medal24.medal-event_badge_aurora_glyph_silver {background-position: 0 -408px}
.medal24.medal-event_badge_buried_memories_bronze {background-position: -24px -408px}
.medal24.medal-event_badge_buried_memories_silver {background-position: -48px -408px}
.medal24.medal-event_badge_cassandra_neutralizer_bronze {background-position: -72px -408px}
.medal24.medal-event_badge_cassandra_neutralizer_gold {background-position: -96px -408px}
.medal24.medal-event_badge_cassandra_neutralizer_silver {background-position: -120px -408px}
.medal24.medal-event_badge_chronos_bronze {background-position: -144px -408px}
.medal24.medal-event_badge_chronos_silver {background-position: -168px -408px}
.medal24.medal-event_badge_cryptic_memories_bronze {background-position: -192px -408px}
.medal24.medal-event_badge_cryptic_memories_silver {background-position: -216px -408px}
.medal24.medal-event_badge_dark_xm_bronze {background-position: -240px -408px}
.medal24.medal-event_badge_dark_xm_gold {background-position: -264px -408px}
.medal24.medal-event_badge_dark_xm_silver {background-position: -288px -408px}
.medal24.medal-event_badge_didact_field_bronze {background-position: -312px -408px}
.medal24.medal-event_badge_didact_field_gold {background-position: -336px -408px}
.medal24.medal-event_badge_didact_field_silver {background-position: 0 -432px}
.medal24.medal-event_badge_erased_memories_bronze {background-position: -24px -432px}
.medal24.medal-event_badge_erased_memories_silver {background-position: -48px -432px}
.medal24.medal-event_badge_exo5_100 {background-position: -72px -432px}
.medal24.medal-event_badge_exo5_2000 {background-position: -96px -432px}
.medal24.medal-event_badge_exo5_500 {background-position: -120px -432px}
.medal24.medal-event_badge_field_test_dispatch_bronze {background-position: -144px -432px}
.medal24.medal-event_badge_field_test_dispatch_silver {background-position: -168px -432px}
.medal24.medal-event_badge_lux_adventure_explorer {background-position: -192px -432px}
.medal24.medal-event_badge_lux_adventure_odyssey {background-position: -216px -432px}
.medal24.medal-event_badge_magnus_builder_architect {background-position: -240px -432px}
.medal24.medal-event_badge_magnus_builder_builder {background-position: -264px -432px}
.medal24.medal-event_badge_myriad_hack_bronze {background-position: -288px -432px}
.medal24.medal-event_badge_myriad_hack_gold {background-position: -312px -432px}
.medal24.medal-event_badge_myriad_hack_silver {background-position: -336px -432px}
.medal24.medal-event_badge_perpetua {background-position: 0 -456px}
.medal24.medal-event_badge_perpetua_elite {background-position: -24px -456px}
.medal24.medal-event_badge_plus_alpha_bronze {background-position: -48px -456px}
.medal24.medal-event_badge_plus_alpha_silver {background-position: -72px -456px}
.medal24.medal-event_badge_shared_memories_bronze {background-position: -96px -456px}
.medal24.medal-event_badge_shared_memories_silver {background-position: -120px -456px}
.medal24.medal-event_badge_solstice_recharge {background-position: -144px -456px}
.medal24.medal-event_badge_umbra_deploy_bronze {background-position: -168px -456px}
.medal24.medal-event_badge_umbra_deploy_gold {background-position: -192px -456px}
.medal24.medal-event_badge_umbra_deploy_silver {background-position: -216px -456px}
.medal24.medal-unique_badge_avenir_shard_challenge {background-position: -240px -456px}
.medal24.medal-unique_badge_core {background-position: -264px -456px}
.medal24.medal-unique_badge_core_year3 {background-position: -288px -456px}
.medal24.medal-unique_badge_dual_core {background-position: -312px -456px}
.medal24.medal-unique_badge_paragon {background-position: -336px -456px}
.medal24.medal-unique_badge_peace_day_2022 {background-position: 0 -480px}
.medal24.medal-unique_badge_quad_core {background-position: -24px -480px}
.medal24.medal-unique_badge_simulacrum {background-position: -48px -480px}