.medal50-events {
	width: 50px;
	height: 50px;
	display: inline-block;
	background:url(../images/sprites/medals_events_50.png) no-repeat
}
.medal50-events.medal-EventBadge_FieldTest {background-position: 0 0}
.medal50-events.medal-Anomaly_NemesisMyriad {background-position: -50px 0}
.medal50-events.medal-EventBadge_AuroraGlyph_Bronze {background-position: -100px 0}
.medal50-events.medal-EventBadge_CassandraNeutralizer_Gold {background-position: -150px 0}
.medal50-events.medal-Anomaly_Shonin {background-position: -200px 0}
.medal50-events.medal-EventBadge_MyriadHack_Silver {background-position: -250px 0}
.medal50-events.medal-EventBadge_MagnusBuilder_Architect {background-position: -300px 0}
.medal50-events.medal-Anomaly_RecursionPrime {background-position: -350px 0}
.medal50-events.medal-Anomaly_Interitus {background-position: -400px 0}
.medal50-events.medal-EventBadge_CassandraNeutralizer_Silver {background-position: -450px 0}
.medal50-events.medal-EventBadge_FieldTest_Elite {background-position: -500px 0}
.medal50-events.medal-Anomaly_Umbra {background-position: -550px 0}
.medal50-events.medal-EventBadge_EXO5_100 {background-position: -600px 0}
.medal50-events.medal-Anomaly_ViaNoir {background-position: -650px 0}
.medal50-events.medal-EventBadge_DarkXM_Bronze {background-position: -700px 0}
.medal50-events.medal-Anomaly_AbaddonPrime {background-position: 0 -50px}
.medal50-events.medal-UniqueBadge_AvenirShardChallenge {background-position: -50px -50px}
.medal50-events.medal-EventBadge_MyriadHack_Bronze {background-position: -100px -50px}
.medal50-events.medal-EventBadge_AuroraGlyph_Silver {background-position: -150px -50px}
.medal50-events.medal-Anomaly_Persepolis {background-position: -200px -50px}
.medal50-events.medal-Anomaly_Darsana {background-position: -250px -50px}
.medal50-events.medal-Anomaly_Initio {background-position: -300px -50px}
.medal50-events.medal-EventBadge_DarkXM_Gold {background-position: -350px -50px}
.medal50-events.medal-Anomaly_DarsanaPrime {background-position: -400px -50px}
.medal50-events.medal-Anomaly_ViaLux {background-position: -450px -50px}
.medal50-events.medal-EventBadge_LuxAdventure_Odyssey {background-position: -500px -50px}
.medal50-events.medal-EventBadge_CassandraNeutralizer_Bronze {background-position: -550px -50px}
.medal50-events.medal-Anomaly_Obsidian {background-position: -600px -50px}
.medal50-events.medal-EventBadge_MagnusBuilder_Builder {background-position: -650px -50px}
.medal50-events.medal-EventBadge_AuroraGlyph_Gold {background-position: -700px -50px}
.medal50-events.medal-Anomaly_AegisNova {background-position: 0 -100px}
.medal50-events.medal-Anomaly_Helios {background-position: -50px -100px}
.medal50-events.medal-Anomaly_CassandraPrime {background-position: -100px -100px}
.medal50-events.medal-EventBadge_EXO5_2000 {background-position: -150px -100px}
.medal50-events.medal-EventBadge_MyriadHack_Gold {background-position: -200px -100px}
.medal50-events.medal-EventBadge_LuxAdventure_Explorer {background-position: -250px -100px}
.medal50-events.medal-EventBadge_EXO5_500 {background-position: -300px -100px}
.medal50-events.medal-Anomaly_Abaddon {background-position: -350px -100px}
.medal50-events.medal-Anomaly_EXO5 {background-position: -400px -100px}
.medal50-events.medal-UniqueBadge_Simulacrum {background-position: -450px -100px}
.medal50-events.medal-Anomaly_13MAGNUSReawakens {background-position: -500px -100px}
.medal50-events.medal-Anomaly_Recursion {background-position: -550px -100px}
.medal50-events.medal-EventBadge_DarkXM_Silver {background-position: -600px -100px}