{% apply inky_to_html|inline_css(source('@styles/foundation/css/foundation-emails.css'), source('@styles/email.css')) %}
    <container>
        <row class="welcome">
            <columns>
                <spacer size="35"></spacer>
                <h1>
                    <center>
                        ¡Bienvenid@ agente {{ email.toName }}!
                    </center>
                </h1>
                <spacer size="10"></spacer>
            </columns>
        </row>
        <spacer size="30"></spacer>
        <row>
            <columns>
                <p>
                    Agente {{ email.toName }}, has sido validado en nuestras bases de datos y ahora puedes ingresar al
                    portal de <b>Enlightened Elite Echelon of Ecuador</b>.
                    <br><br>
                    Aquí tendrás un panorama claro de todos los eventos y participaciones que 4E programa continuamente.
                    <br><br>
                    Ingresa a <a href="http://agents.enl.ec">agents.enl.ec</a> y comienza tu recorrido a la cima de la
                    iluminación.
                </p>
            </columns>
        </row>
        <row>
            <columns>
                <center>
                    <button href="{{ url('app_login') }}">Login</button>
                </center>
            </columns>
        </row>
        <row class="footer">
            <columns>
                <img src="{{ email.image('@images/4e-logo-white.jpg') }}" alt="Logo">
            </columns>
        </row>
    </container>
{% endapply %}
