{% extends 'base.html.twig' %}

{% block title %}bot test{% endblock %}

{% block body %}
hi {{ testtext }}

    <form>
        <input type="text" name="testtext" value="nikp3h">

        <button>TEST</button>
    </form>
{% endblock %}
