{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('test_bot') }}">bot</a>
        </li>
    </ul>
{% endblock %}
