{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <h1>T E S T</h1>

    <p>{{ ''|date('Y-m_d H:i:s e T') }}</p>


    <ul>
        <li>
            <a href="{{ path('test_bot') }}">bot</a>
        </li>
        <li>
            <a href="{{ path('test_mail') }}">mail</a>
        </li>
    </ul>

    <h3>User agent</h3>

    <code>{{ app.request.headers.get('User-Agent') }}</code>

{% endblock %}
