{% extends 'base.html.twig' %}

{% block title %}mail test{% endblock %}

{% block body %}
    hi {{ testtext }}

    <form>
        <input type="text" name="testtext" value="">

        <button>TEST</button>
    </form>
{% endblock %}
