{% block footer %}
    <footer class="footer text-muted d-flex flex-row bg-dark">
        <div class="p-1">
            &copy; 2018 - {{ "now"|date("Y") }} by 4E - Ecuador - <a href="{{ path('app_privacy') }}">Privacidad</a>
        </div>
        <div class="p-1 ml-auto">
            Made with <a href="https://symfony.com">Symfony</a>
        </div>
    </footer>
{% endblock %}
