{% block footer %}
    <footer class="footer text-muted d-flex flex-row bg-dark">
        <div class="p-1">
            &copy; 2018 - {{ "now"|date("Y") }} by 4E - Ecuador
        </div>
        <div class="p-1 ml-auto">
            {% if 'dev' == app.environment %}
                {% if not app.user %}
                    <a style="color: #00B8F5;" href="{{ path('app_login') }}">.</a>
                {% else %}
                    <a style="color: #00B8F5;" href="{{ path('app_logout') }}">_</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="p-1 ml-auto">
            Made with <a href="https://symfony.com">Symfony</a>
        </div>
    </footer>
{% endblock %}
