{% extends 'base.html.twig' %}

{% block title %}Edit MapGroup{% endblock %}

{% block body %}
    <h1>Edit MapGroup</h1>

    {{ include('map_group/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('map_group_index') }}">back to list</a>

    {{ include('map_group/_delete_form.html.twig') }}
{% endblock %}
