{% extends 'base.html.twig' %}
{% import '_/buttons.html.twig' as buttons %}

{% block title %}MapGroup index{% endblock %}

{% block body %}
    <div class="float-right">
        {{ buttons.new(path('map_group_new')) }}
    </div>

    <h1>MapGroups</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for map_group in map_groups %}
            <tr>
                <td>
                    <a href="{{ path('map_group_edit', {'id': map_group.id}) }}">{{ map_group.name }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
