{% extends 'base.html.twig' %}

{% block title %}New MapGroup{% endblock %}

{% block body %}
    <h1>Create new MapGroup</h1>

    {{ include('map_group/_form.html.twig') }}

    <a href="{{ path('map_group_index') }}">back to list</a>
{% endblock %}
