{% extends 'base.html.twig' %}

{% block title %}Leaderboard{% endblock %}

{% block body %}
    <h1>Leaderboard</h1>

    <div class="row">
        {% for type, entries in board %}
            <div class="col-sm-3 card">
                <div class="card-header">
                    <h5>{{ type }}</h5>
                </div>
                <ol>
                    {% for agent, value in entries %}
                        <li>
                            {{ agent }} - {{ value|number_format }}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        {% endfor %}
    </div>

{% endblock %}
