{% extends 'base.html.twig' %}

{% block body %}
    <h1>¡Oh No!</h1>

    <p>
        <img src="{{ asset('build/images/error_frox/frog_glass.png') }}" alt="frog glass">
    </p>

    <p class="alert alert-warning">
        {{ exception.message }}
    </p>
{% endblock %}
